@page
@model BSSL_SIWES.Web.Pages.Institution.SetUpInstOfficerModel
@{
    ViewData["Title"] = "SetUpInstOfficer";
}


<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h4 class="card-title">Institution Officer Setup</h4>
        </div>

        <form role="form">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Officer Name</label>
                            <input type="text" class="form-control" placeholder="Enter Institution Officer Name"
                                   id="officername" onchange="MyFunctionOfficerName()">
                            <input type="hidden" id="officernameId" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Designation</label>
                            <input type="text" class="form-control" id="designa" placeholder="Enter Officer Designation">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>No. Of Student Currently Supervising</label>
                            <input type="text" class="form-control" id="noofstu" placeholder="Enter No. Of Student Supervising">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Institiution Name</label>
                            <input type="text" class="form-control" placeholder="Enter Officer Institution Name" id="drpinstitiu">
                            <input type="hidden" id="instId" />

                        </div>
                    </div>
                    <div class="col-sm-6 studentSelectedActivities">
                        <div class="form-group">
                            <label>Officer Type</label>
                            <select class="form-control" id="officertype">
                                <option selected="selected" value="-1">--Select Officer Type--</option>
                                <option value="Coordinator">Coordinator</option>
                                <option value="Supervisor">Supervisor</option>
                            </select>
                        </div>
                    </div>

                    @*<div class="col-sm-6">
            <div class="form-group">
                <label for="exampleInputFile">Institiution Address</label>
               <input type="text" class="form-control" id="institiuaddress" asp-for="InstitionNmae.Address1" readonly="readonly" >

            </div>
        </div>*@
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> Contact Address</label>
                            <input type="text" class="form-control" id="address1" placeholder="Enter Officer Contact Address">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" id="Phone" placeholder="Enter Phone Number">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter Email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Select Nationality</label>
                            <select class="form-control" asp-items="ViewBag.NationalityId"
                                    style="width: 100%; text-transform:capitalize"
                                    onchange="MyFunctionNationality()" id="nationChange">
                                <option selected="selected" value="-1">-- Select Nationality--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Select State of Origin</label>
                            <select class="form-control"
                                    id="myState" style="width: 100%; text-transform:capitalize" onchange="MyFunctionState()">
                                <option selected="selected" value="-1">-- Select State--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Select LGA of Origin</label>
                            <select class="form-control"
                                    id="myLGA" style="width: 100%; text-transform:capitalize">
                                <option selected="selected" value="-1">--Select LGA--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputFile">Select Bank</label>
                            <select class="form-control regYear" style="width: 100%;" id="drpbank" asp-items="ViewBag.BankSetUp">
                                <option selected="selected" value="-1">--Select Bank Name--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Enter Account Number</label>
                                <input type="text" class="form-control" id="accountnum" placeholder="Enter Account Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Enter Account Name</label>
                                <input type="text" class="form-control" id="accountname" placeholder="Enter Account Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Enter Switch Code</label>
                                <input type="text" class="form-control" id="switchcode" placeholder="Enter Switch Code">
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-center" style="margin-left:35%; margin-bottom:3%;">
                <button type="button" id="Btnsave" class="btn btn-primary">Submit Officer Details</button>
                <button type="button" id="Btnupdate" class="btn btn-primary" style="display:none">Update Officer Details</button>
                <a type="button" asp-page="./InstOfficersList" id="BtnOfficersList" class="btn btn-warning">View List of Officers</a>
            </div>
        </form>
    </div>

</div>


<script type="text/javascript">
    var studentList = [];

    function addStudents(lbl, val) {
        studentList.push({ label: lbl, value: val });
    }
    var intName = [];

    function addintName(lbl, val) {
        intName.push({ label: lbl, value: val });
    }
    $(document).ready(function () {
        @{
            if (Model.InstitutionOfficers != null)
            {
                foreach (var item in Model.InstitutionOfficers)
                {
                    @:addStudents('@item.IntOfficerName.ToString().Trim()', '@item.Id');
                }
            }
            else
            {

            }
            }
        @{
            if (Model.InstitionNmae != null)
            {
                foreach (var item in Model.InstitionNmae)
                {
                    @:addintName('@item.Name.ToString().Trim()', '@item.Id');
                }
            }
            else
            {

            }
            }

        $("#officername").autocomplete({
            source: studentList,
            select: function (event, ui) {
                $('#officername').val(ui.item.label);
                $('#officernameId').val(ui.item.value);
                return false;
            }
        });
        $("#drpinstitiu").autocomplete({
            source: intName,
            select: function (event, ui) {
                $('#drpinstitiu').val(ui.item.label);
                $('#instId').val(ui.item.value);
                return false;
            }
        });

        $('#Btnsave').on('click', function () {
            var drpinstitiu = $('#drpinstitiu').val();
            var instId = $('#instId').val();
            var officertype = $("div.studentSelectedActivities select").val();
            //var offidnum = $('#offidnum').val();
            var officername = $('#officername').val();
            var designa = $('#designa').val();
            var address1 = $('#address1').val();
            var nationChange = $('#nationChange').val();
            var myState = $('#myState').val();
            var myLGA = $('#myLGA').val();
            var Phone = $('#Phone').val();
            var email = $('#email').val();
            var noofstu = $('#noofstu').val();
            var drpbank = $('#drpbank').val();
            var accountnum = $('#accountnum').val();
            var accountname = $('#accountname').val();
            var switchcode = $('#switchcode').val();
            var InstitutionId = parseInt(instId);
            var BankId = parseInt(drpbank);
            var NumberOfStudent = parseInt(noofstu);
            var LGAId = parseInt(myLGA);

            if (officername == "") {
                alert("PLEASE ENTER INSTITUTION OFFICER NAME");
                return false;
            }
            if (designa == "") {
                alert("PLEASE ENTER INSTITUTION OFFICER DESIGNATION");
                return false;
            }
            if (noofstu == "") {
                alert("PLEASE ENTER NUMBER OF STUDENTS ATTACHED TO THE OFFICER");
                return false;
            }
            if (drpinstitiu == "") {
                alert("PLEASE ENTER INSTITUTION NAME");
                return false;
            }
            if (officertype == "-1") {
                alert("PLEASE SELECT TYPE OF OFFICER");
                return false;
            }
            if (address1 == "") {
                alert("PLEASE ENTER OFFICER ADDRESS");
                return false;
            }
            if (Phone == "") {
                alert("PLEASE ENTER OFFICER PHONE NUMBER");
                return false;
            }
            if (email == "") {
                alert("PLEASE ENTER OFFICER EMAIL");
                return false;
            }
            if (nationChange == "-1") {
                alert("PLEASE SELECT OFFICER NATIONALITY");
                return false;
            }
            if (myState == "-1") {
                alert("PLEASE SELECT OFFICER STATE");
                return false;
            }
            if (myLGA == "-1") {
                alert("PLEASE SELECT OFFICER LGA");
                return false;
            }
            if (drpbank == "-1") {
                alert("PLEASE SELECT OFFICER BANK NAME");
                return false;
            }
            if (accountnum == "") {
                alert("PLEASE ENTER OFFICER ACCOUNT NUMBER");
                return false;
            }
            if (accountname == "") {
                alert("PLEASE ENTER OFFICER ACCOUNT NAME");
                return false;
            }
            var d = {
                "InstitutionId": InstitutionId,
                "OfficerType": officertype,
                "IntOfficerName": officername,
                "IntOfficerDesig": designa,
                "Address1": address1,
                "LGAId": LGAId,
                "PhoneNo": Phone,
                "Email": email,
                "BankSetUpId": BankId,
                "AccountNo": accountnum,
                "AccountName": accountname,
                "SwitchCode": switchcode,
                "NumberOfStudent": NumberOfStudent,
            };
            var confirmation = confirm("ARE SURE YOU WANT SAVE " + officername.toUpperCase() + " RECORD ?");
            if (confirmation === false) {
                return false;
            }
            var baseUrl = window.location.origin;
            $.ajax({
                type: "POST",
                url: baseUrl + '/Api/InstitutionOfficers',
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    alert("OFFICER RECORDS SUCCESSFULLY SAVED");
                    window.location.href = baseUrl + '/Institution/InstOfficersList';
                    //location.reload();
                },
            });

        });
        $('#Btnupdate').on('click', function () {
            var officernameId = $('#officernameId').val();
            var drpinstitiu = $('#drpinstitiu').val();
            var instId = $('#instId').val();
            var officertype = $("div.studentSelectedActivities select").val();
            //var offidnum = $('#offidnum').val();
            var officername = $('#officername').val();
            var designa = $('#designa').val();
            var address1 = $('#address1').val();
            var nationChange = $('#nationChange').val();
            var myState = $('#myState').val();
            var myLGA = $('#myLGA').val();
            var Phone = $('#Phone').val();
            var email = $('#email').val();
            var noofstu = $('#noofstu').val();
            var drpbank = $('#drpbank').val();
            var accountnum = $('#accountnum').val();
            var accountname = $('#accountname').val();
            var switchcode = $('#switchcode').val();
            var InstitutionId = parseInt(instId);
            var BankId = parseInt(drpbank);
            var NumberOfStudent = parseInt(noofstu);
            var LGAId = parseInt(myLGA);
            var officerId = parseInt(officernameId);
            if (officernameId == "") {
                alert("PLEASE ENTER INSTITUTION OFFICER NAME");
                return false;
            }
            if (officername == "") {
                alert("PLEASE ENTER INSTITUTION OFFICER NAME");
                return false;
            }
            if (designa == "") {
                alert("PLEASE ENTER INSTITUTION OFFICER DESIGNATION");
                return false;
            }
            if (noofstu == "") {
                alert("PLEASE ENTER NUMBER OF STUDENTS ATTACHED TO THE OFFICER");
                return false;
            }
            if (drpinstitiu == "") {
                alert("PLEASE ENTER INSTITUTION NAME");
                return false;
            }
            if (officertype == "-1") {
                alert("PLEASE SELECT TYPE OF OFFICER");
                return false;
            }
            if (address1 == "") {
                alert("PLEASE ENTER OFFICER ADDRESS");
                return false;
            }
            if (Phone == "") {
                alert("PLEASE ENTER OFFICER PHONE NUMBER");
                return false;
            }
            if (email == "") {
                alert("PLEASE ENTER OFFICER EMAIL");
                return false;
            }
            if (nationChange == "-1") {
                alert("PLEASE SELECT OFFICER NATIONALITY");
                return false;
            }
            if (myState == "-1") {
                alert("PLEASE SELECT OFFICER STATE");
                return false;
            }
            if (myLGA == "-1") {
                alert("PLEASE SELECT OFFICER LGA");
                return false;
            }
            if (drpbank == "-1") {
                alert("PLEASE SELECT OFFICER BANK NAME");
                return false;
            }
            if (accountnum == "") {
                alert("PLEASE ENTER OFFICER ACCOUNT NUMBER");
                return false;
            }
            if (accountname == "") {
                alert("PLEASE ENTER OFFICER ACCOUNT NAME");
                return false;
            }
            var d = {
                "Id": officerId,
                "InstitutionId": InstitutionId,
                "OfficerType": officertype,
                "IntOfficerName": officername,
                "IntOfficerDesig": designa,
                "Address1": address1,
                "LGAId": LGAId,
                "PhoneNo": Phone,
                "Email": email,
                "BankSetUpId": BankId,
                "AccountNo": accountnum,
                "AccountName": accountname,
                "SwitchCode": switchcode,
                "NumberOfStudent": NumberOfStudent,
            };
            var confirmation = confirm("ARE SURE YOU WANT UPDATE " + officername.toUpperCase() + " RECORD ?");
            if (confirmation === false) {
                return false;
            }
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/InstitutionOfficers/ ' + officerId,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    alert("OFFICER RECORDS SUCCESSFULLY UPDATED");
                    window.location.href = baseUrl + '/Institution/InstOfficersList';
                    //location.reload();
                },
            });

        });
    });
    function MyFunctionOfficerName() {
        var officernameId = $('#officernameId').val();
        var officerId = parseInt(officernameId);
        if (officernameId == "") {
            document.getElementById('Btnupdate').style.display = "none";
            document.getElementById('Btnsave').style.display = "inline-block";
        }
        else {
            var d = {
                "Id": officerId
            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "GET",
                url: baseUrl + '/Api/InstOfficerDetails/' + officerId,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: 'json',
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    //console.log(data);
                    var option = ''; var stateOption = '';
                    var lga = ''; var lgaOption = '';
                    var newRex = data['lgaId'];
                    var bankId = data['bankSetUpId'];
                    $('#officernameId').val(data['id']);
                    $('#officername').val(data['intOfficerName']);
                    $('#officertype').val(data['officerType']);
                    $('#designa').val(data['intOfficerDesig']);
                    $('#drpinstitiu').val(data['institution']['name']);
                    $('#instId').val(data['institutionId']);
                    $('#address1').val(data['address1']);
                    $('#Phone').val(data['phoneNo']);
                    $('#email').val(data['email']);
                    $('#noofstu').val(data['numberOfStudent']);
                    
                    $('#accountnum').val(data['accountNo']);
                    $('#accountname').val(data['accountName']);
                    $('#switchcode').val(data['switchCode']);

                    document.getElementById('Btnsave').style.display = "none";
                    document.getElementById('Btnupdate').style.display = "inline-block";
                    if (bankId != null) {
                        $('#drpbank').val(data['bankSetUpId']);
                    }
                    else {
                        //$('#drpbank').empty();
                        $('#drpbank').append('<option value=-1>--Select Bank Name--</option>');
                    }
                    if (newRex != null) {
                        var newRexId = data['lga']['stateId'];
                        var d = {
                            "Id": newRexId
                        };
                        var Rex = {
                            "Id": newRexId
                        };
                        var baseUrl = window.location.origin;
                        $.ajax({
                            type: "GET",
                            url: baseUrl + '/Api/States',
                            data: JSON.stringify(d),
                            xhrFields: {
                                withCredentials: true
                            },
                            contentType: 'json',
                            error: function (data) {
                                alert(data.responseText);
                            },
                            failure: function (data) {
                                alert(data.responseText);
                            },
                            success: function (data) {
                                console.log(data);
                                var nationalityId = "";
                                for (var i = 0; i < data.length; i++) {
                                    var nationalityId = data[i]['nationalityId'];
                                    option += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';

                                }
                                $('#myState').append(option);
                                for (var i = 0; i < $('select#myState option').length; i++) {
                                    if ($('select#myState option')[i].value == newRexId - 1) {
                                        stateOption = '<option selected="selected" value="' + newRexId + '">' + data[i]['name'] + '</option>';
                                        //Here the code for select automatically in operator the option found
                                    }
                                }
                                //alert(stateOption);
                                $('#myState').append(stateOption);
                                $('#nationChange').val(nationalityId);
                                $.ajax({
                                    type: "GET",
                                    url: baseUrl + '/Api/lgas/' + newRexId,
                                    data: JSON.stringify(Rex),
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    contentType: 'json',
                                    error: function (data) {
                                        alert(data.responseText);
                                    },
                                    failure: function (data) {
                                        alert(data.responseText);
                                    },
                                    success: function (data) {
                                        //console.log(data);
                                        for (var i = 0; i < data.length; i++) {
                                            lga += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';

                                        }
                                        $('#myLGA').append(lga);
                                        for (var i = 0; i < $('select#myLGA option').length; i++) {
                                            if ($('select#myLGA option')[i].value == newRex - 1) {
                                                lgaOption = '<option selected="selected" value="' + newRex + '">' + data[i]['name'] + '</option>';
                                                //Here the code for select automatically in operator the option found
                                            }
                                        }
                                        $('#myLGA').append(lgaOption);
                                    },


                                });


                            },


                        });
                    }
                    else {
                        //$('#nationChange').empty();
                        $('#nationChange').append('<option value=-1>--Select Nationality--</option>');
                        $('#myState').empty();
                        $('#myState').append('<option value=-1>--Select State--</option>');
                        $('#myLGA').empty();
                        $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                    }
                },
            });
        }
    }
    function MyFunctionNationality() {
        var nationId = document.getElementById('nationChange').value;
        var d = {
            "Id": nationId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/States/' + nationId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                //console.log(data);
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++) {
                    option += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myState').empty();
                    $('#myState').append('<option value=-1>--Select State--</option>');
                }
                $('#myState').append(option);

            },
        });

    }
    function MyFunctionState() {
        var stateId = document.getElementById('myState').value;
        // alert(stateId);
        var d = {
            "Id": stateId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/LGAs/' + stateId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                // console.log(data);
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++) {
                    option += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myLGA').empty();
                    $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                }

                //$('#myLGA').append('<option value=-1>--Select LGA--</option>');
                $('#myLGA').append(option);

            },
        });

    }
</script>