@page
@model SIWES_BSSL.DailyActivitiesModel
@{
    ViewData["Title"] = "DailyActivities";
}

<div class="content-wrapper" style="margin-top:0.5%">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title justify-content-center">Daily Record of Activities</h3>
                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group row" style="float:right; margin-bottom:5px; margin-top:0.4px">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Week</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="weekend" readonly="readonly">
                                </div>
                            </div>
                            <p style="clear:both"></p>
                            <form role="form">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:4%; text-align:center">Day/Date</th>
                                            <th style="width:45%; text-align:center">Summary of Activities</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Monday</td>
                                            <td><textarea class="form-control" rows="3" placeholder="Enter Summary of Activities for Monday"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Tuesday</td>
                                            <td><textarea class="form-control" rows="3" placeholder="Enter Summary of Activities for Tuesday"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Wednesday</td>
                                            <td><textarea class="form-control" rows="3" placeholder="Enter Summary of Activities for Wednesday"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Thursday</td>
                                            <td><textarea class="form-control" rows="3" placeholder="Enter Summary of Activities for Thursday"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>Friday</td>
                                            <td><textarea class="form-control" rows="3" placeholder="Enter Summary of Activities for Friday"></textarea></td>
                                        </tr>

                                    </tbody>
                                    <tfoot style="display:none">
                                        <tr>
                                            <th style="width:4%; text-align:center">Day/Date</th>
                                            <th style="width:45%; text-align:center">Summary of Activities</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div class="row" style="display:none">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>Department/Section</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Department/Section">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Trainee Students' Remark</label>
                                            <textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px;
                                            font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="justify-content-center" style="margin-left:35%; margin-bottom:3%;">
                                    <button type="submit" class="btn btn-warning">Send For Supervisor Cerification</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="../../~/template/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../~/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../~/template/plugins/datatables/jquery.dataTables.js"></script>
<script src="../../~/template/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- AdminLTE App -->
<script src="../../~/template/dist/js/adminlte.min.js"></script>
<script src="../../~/template/plugins/summernote/summernote-bs4.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../~/template/dist/js/demo.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<!-- page script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.textarea').summernote();
        var lastWeek = getLastWeek();

        var getTosday = dates();
        //alert(getTosday);
        //var lastWeekMonth = lastWeek.getMonth() + 1;
        //var lastWeekDay = lastWeek.getDate();
        //var lastWeekYear = lastWeek.getFullYear();

        //var lastWeekDisplay = lastWeekMonth + "/" + lastWeekDay + "/" + lastWeekYear;
        //var lastWeekDisplayPadded = ("00" + lastWeekMonth.toString()).slice(-2) + "/" + ("00" + lastWeekDay.toString()).slice(-2)
        //    + "/" + ("0000" + lastWeekYear.toString()).slice(-4);
        ////alert(lastWeekDisplay);
        //$('#weekend').val(lastWeekDisplayPadded);

         var lastWeekMonth = getTosday.getMonth() + 1;
        var lastWeekDay = getTosday.getDate();
        var lastWeekYear = getTosday.getFullYear();

        var lastWeekDisplay = lastWeekMonth + "/" + lastWeekDay + "/" + lastWeekYear;
        var lastWeekDisplayPadded = ("00" + lastWeekDay.toString()).slice(-2) + "/" + ("00" + lastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + lastWeekYear.toString()).slice(-4);
         $('#weekend').val(lastWeekDisplayPadded);

    });
     function getLastWeek() {
          var today = new Date();
         var lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate());
         //alert(lastWeek);
          return lastWeek;
    }
    function dates() {
    var dayOfWeek = 5;//friday
    var date = new Date();
        var diff = date.getDay() - dayOfWeek;
        //alert(diff);
    if (diff > 0) {
        date.setDate(date.getDate() + 6);
    }
    else if (diff < 0) {
        date.setDate(date.getDate() + ((-1) * diff))
        }
        return date;
    
}
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

