<<<<<<< HEAD:SIWES_BSSL/Pages/Students/Form8.cshtml
﻿@page
@model SIWES_BSSL.Form8Model
@{
    ViewData["Title"] = "Form8";
}


<div class="content-wrapper" style="margin-top:0.5%">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">ITF FORM 8 - SIWES End of Year Program Report Sheet</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Matric. Number</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-asterisk"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Student Name</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Year of Study</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Name of Institution</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user-graduate"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Course of Study</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-book-open"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Commencement Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="date" id="commence_Date" onchange="MyFunctionCommDate()" class="form-control" placeholder="Enter Date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Completion Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="date" id="complete_Date" onchange="MyFunctionCompleteDate()" class="form-control" placeholder="Enter Date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Duration</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input type="text" id="duration" readonly="readonly" class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Enter Name of Organisation</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Enter Name of Organisation">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Organisation Location Address</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Enter Organisation Location Address">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Department/Section</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>ITF Area Office</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-search-location"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Brief Outline of Experience of Training Provided</label>
                                            <textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px;
                                            font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Previously Attached?</label>
                                            <select class="form-control select2 select2-danger" onchange="myFucntionAttached()"
                                                    id="attachedBefore" data-dropdown-css-class="select2-danger">
                                                <option selected="selected" value="0">NO</option>
                                                <option value="1">YES</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Number of Weeks Engaged in I.T</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                                                </div>
                                                <input type="text" id="noWeeks" readonly="readonly" class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="text" id="certdate" class="form-control" readonly="readonly">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 ifYes" style="display:none">
                                        <div class="form-group">
                                            <label>Select Name of Company/Establishment </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="refno">

                                                <div class="input-group-append">
                                                    <input class="btn btn-primary" type="button" value="Search" id="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ifYes" style="display:none">
                                        <div class="form-group">
                                            <label>Address of Company/Establishment</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="justify-content-center" style="margin-left:10%; margin-bottom:3%;">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="button" class="btn btn-warning"> Print/Preview Report Sheet</button>
                                    <button type="button" class="btn btn-info">Upload End of Year Programme Report Sheet</button>
                                </div>
                            </div>

                        </form>
                        
                    </div>
                </div>
        </div>
</div>

<script src="../../~/template/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../~/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../~/template/plugins/datatables/jquery.dataTables.js"></script>
<script src="../../~/template/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- AdminLTE App -->
<script src="../../~/template/dist/js/adminlte.min.js"></script>
<script src="../../~/template/plugins/summernote/summernote-bs4.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../~/template/dist/js/demo.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<!-- page script -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.textarea').summernote();
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = dd + '/' + mm + '/' + yyyy;
        $('#certdate').val(today);
    });
    function MyFunctionCommDate() {
        $('#complete_Date').val("");
        $('#duration').val("");
    }
    function MyFunctionCompleteDate() {
        first = $('#commence_Date').val();
        second = $('#complete_Date').val();
        duration = "";
        const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        const firstDate = new Date(first);
        const secondDate = new Date(second);
        if (secondDate < firstDate) {
            alert("Completion Date Cannot be Less than Commencement Date");
            $('#complete_Date').val("");
            $('#duration').val("");
            $('#complete_Date').focus();
            return false;
        }
        const diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));
        var noDays = diffDays + ' ' + "Days";
        $('#duration').val(noDays);
        var a = moment(firstDate, 'DD-MM-YYYY');
        var b = moment(secondDate, 'DD-MM-YYYY');
        days = b.diff(a, 'week');
        var totalWeeksSpend = days + ' ' + "Weeks";
        //var did = diffDays / 7;
        //alert(did);
        $('#noWeeks').val(totalWeeksSpend);
    }
    function myFucntionAttached() {
        myAttached = $('#attachedBefore').val();
        if (myAttached == "1" && !$(".ifYes").is(':visible')) {
            $(".ifYes").css('display', 'block');
        }
        else {
            $(".ifYes").css('display', 'none');
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




=======
>>>>>>> student visit:SIWES_BSSL/Pages/Students/Scaf.cshtml
