@page
@model SIWES_BSSL.Student_Visit_FormModel
@{
    ViewData["Title"] = "Student_Visit_Form";
}

<div class="content-wrapper" style="margin-top:0.5%">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Supervisor Student Visit Form</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">
                                <div class="justify-content-center" style="display:none; float:right;">
                                    <button type="submit" class="btn btn-warning">Download SCAF</button>
                                </div>
                                <p style="clear:both"></p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label for="refno">Reference Number </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="refno" readonly="readonly">

                                                <div class="input-group-append">
                                                    <input class="btn btn-primary" type="button" value="Search" id="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input type="text" id="mydate" class="form-control" readonly="readonly">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="display:none">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Select Institution Category</label>
                                            <select class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger"
                                                    asp-items="Model.Title" style="width: 100%;">
                                                <option selected="selected">--Select Institution Category--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Select Institution Type</label>
                                            <div class="select2-purple">
                                                <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    <option selected="selected">Alabama</option>
                                                    <option>Alaska</option>
                                                    <option>California</option>
                                                    <option>Delaware</option>
                                                    <option>Tennessee</option>
                                                    <option>Texas</option>
                                                    <option>Washington</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label for="matric">Select Matric No of Student</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                                <div class="input-group-append">
                                                    <input class="btn btn-primary" type="button" value="Search" id="">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Student Name</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" readonly="readonly">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Year of Study</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                                </div>
                                                <input type="text" class="form-control">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Employer's Name</label>
                                            <input type="text" class="form-control" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Supervisor proposed area of improvement</label>
                                        <textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px;
                                            font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Supervisor impression of Student’s involvement in Training</label>
                                        <textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px;
                                            font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Number of Visit</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user-clock"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Enter Number of Visit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="justify-content-center" style="margin-left:45%; margin-bottom:3%;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- jQuery -->
<!-- Summernote -->
<script src="../../~/template/plugins/summernote/summernote-bs4.min.js"></script>

<script src="../../~/template/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../~/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../~/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
@*<script src="~/template/"></script>*@

<!-- AdminLTE App -->
<script src="../../~/template/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../~/template/dist/js/demo.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var dt = new Date();
        var today = new Date();
        var month = dt.getMonth();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        //alert(mm);
        var time = "ITF" + "/" + dt.getFullYear() + "/" + mm + "/" + dd + dt.getHours() + dt.getMinutes() + dt.getSeconds();
        $('#refno').val(time);
        $('.textarea').summernote();

        today = dd + '/' + mm + '/' + yyyy;
        //alert(today);
        $('#mydate').val(today);
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

