@page
@model BSSL_SIWES.Web.Pages.Employer.SupervisorCerifModel
@{
    ViewData["Title"] = "SupervisorCerif";
}
<div class="col-md-12">
                    <!-- general form elements -->
    <div class="card card-primary">
        <input type="hidden" asp-for="EmployerSupervisor.Id" id="employerId" name="course" />
        <div class="form-group clearfix">
            <div class="icheck-info d-inline">
                <input type="radio" name="r2" checked id="radioDanger1">
                <label for="radioDanger1">
                    Daily/Weekly Activities Approval
                </label>
            </div>
            <div class="icheck-info d-inline">
                <input type="radio" name="r2" id="radioDanger2">
                <label for="radioDanger2">
                    Monthly Assessment Approval
                </label>
            </div>
        </div>
        <div class="card-header" id="myDay">
            <h3 class="card-title">Industry-Based Supervisor Certification</h3>
        </div>
        <div class="card-header" style="display:none" id="myMonth">
            <h3 class="card-title">Monthly Assessment By Industry-Based Supervisor Certification</h3>
        </div>
        <div class="card-body" id="Assessment">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Select Student to Certify</label>
                        <select class="form-control" id="studentSelected" onchange="MyFunctionDailyActivities()">
                            <option selected="selected" value="0">--Select Student Name--</option>
                            @foreach (var items in Model.Scafs)
                            {
                                var studentName = items.StudentSetUp.Surname + ' ' + items.StudentSetUp.OtherNames;
                                <option value="@items.StudentSetUpId">@Html.DisplayFor(modelitem => studentName)</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 studentSelectedActivities">
                    <div class="form-group">
                        <label>Select Week End Date</label>
                        <select class="form-control" id="weekEndDate"
                                style="width: 100%;">
                            <option selected="selected" value="-1">--Select Week End Date--</option>

                        </select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group" style="margin-top:33px;">
                        <button id="btnShowModal1" type="button" class="btn btn-outline-info">View Selected Student Daily/Weekly Records</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body" style="display:none" id="myForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group studentSelected">
                        <label>Enter Student Name</label>
                        <select class="form-control"
                                style="width: 100%;" id="studentSelected">
                            <option selected="selected" value="-1">--Select Student to Assess--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="margin-top:33px;">
                        <button id="btnShowModal" type="button" class="btn btn-outline-info">View Student Monthly Assessment</button>
                    </div>
                </div>
                <div class="col-sm-6 monthSelected" style="display:none">
                    <div class="form-group">
                        <label>Select Month to Assess</label>
                        <select class="form-control" id="monthSelected" onchange="MyFunctionMonthSelected()"
                                style="width: 100%;">
                            <option selected="selected" value="-1">--Select Month to Assess--</option>

                        </select>
                    </div>
                </div>

            </div>
            <div class="row" style="display:none">
                <div class="justify-content-center" style="margin-left:30%; margin-bottom:3%;">
                    <button id="btnShowModal11" type="button" class="btn btn-outline-info">View Student Monthly Assessment</button>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" id="loginModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg col-md-12" style="margin-left:25%; width:120%">
                <div class="modal-content">
                    <div class="modal-header btn-primary">
                        <h5 class="modal-title" id="monthname" style="margin-left:6%">ASSESSMENT FOR THE MONTH OF</h5>
                        <button type="button" class="close" id="myClose" data-dismiss="modal">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="myTab23" style="display:none">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Trainee Students' Remark</label>
                                        <textarea class="textarea student" id="remark" placeholder="Place some text here" style="width: 100%; height: 200px;
                                    font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                    <input type="hidden" id="monthAssessed" class="form-control">
                                    @*<input type="hidden" id="employerId" asp-for="EmployerSupervisor.Id" />*@
                                </div>
                            </div>
                            
                        </div>
                        <div id="myTab2">
                            <table id="act1" class="table table-bordered" border="0"  style="margin:0 auto; width:100%; font-size:small">
                                <thead>
                                    <tr>
                                        <th style="width:10%; text-align:center;">
                                            <input id="mark" type="button" class="btn btn-info" value="Approve All" onclick="markall()" />
                                            <input id="unmarkall" type="button" class="btn btn-danger" onclick="unmark()" value="Unmarkall"
                                                   style="display:none" />
                                        </th>
                                        <th style="display:none"></th>
                                        <th style="width:0.25%; text-align:center">S/N</th>
                                        <th style="width:15%; text-align:center">Month</th>
                                        <th style="width:15%; text-align:center">Date</th>
                                        <th style="width:35%; text-align:center">Summary of Month Work</th>
                                        @*<th style="width:10%; text-align:center">Approve</th>*@

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date Certified</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                            </div>
                                            <input type="date" id="certdate" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Industry-Based Supervisor Remarks</label>
                                        <textarea class="textarea super" id="superRemarks" placeholder="Place some text here" style="width: 100%; height: 200px;
                                        font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="myTab" style="display:none; margin:0 auto; width:100%; font-size:small">
                            <table id="act" class="table table-bordered" border="0">
                                <thead>
                                    <tr>
                                        <th style="width:10%; text-align:center;">
                                            <input id="mark" type="button" class="btn btn-info" value="Approve All" onclick="markall()" />
                                            <input id="unmarkall" type="button" class="btn btn-danger" onclick="unmark()" value="Unmarkall"
                                                   style="display:none" />
                                        </th>
                                        <th style="display:none"></th>
                                        <th style="width:0.25%; text-align:center">S/N</th>
                                        <th style="width:15%; text-align:center">Week End Date</th>
                                        <th style="width:15%; text-align:center">Week Day</th>
                                        <th style="width:15%; text-align:center">Date</th>
                                        <th style="width:25%; text-align:center">Summary of Activities</th>
                                        @*<th style="width:10%; text-align:center">Approve</th>*@

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Industry-Based Supervisor Remarks</label>
                                        <textarea class="textarea super2" id="superRemarks" placeholder="Place some text here" style="width: 100%; height: 200px;
                                        font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center" style="margin-left:30%; margin-bottom:3%;">
                            <button type="button" id="BtnSubmitDailyActivities" class="btn btn-primary">Certify Students' Monthly Assessment</button>
                            <button type="button" style="display:none" id="BtnSubmitDailyActivities2" class="btn btn-primary">Certify Students' Daily/Weekly Activities</button>
                            <button type="button" id="btnHideModal" class="btn btn-danger button button4">
                                Hide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<style type="text/css">
    /*.ui-autocomplete {
        position:relative;
        z-index:1000;
    }*/
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $('.textarea').summernote();
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = dd + '/' + mm + '/' + yyyy;
        $('#certdate').val(today);
        $('#btnShowModal').on('click', function () {

            document.getElementById('unmarkall').style.display = "none";
            document.getElementById('mark').style.display = "inline-block";
            var studentSelected = $("div.studentSelected select").val();
            var monthSelected = $("div.monthSelected select").val();
            var studentSelectedName = $("div.studentSelected option:selected").html();
            var monthSelectedName = $("div.monthSelected option:selected").html();
            if (studentSelected == "-1") {
                alert("PLEASE SELECT A STUDENT TO ASSESS");
                return false;
            }
            //alert(studentSelected);
            var d = {
                "Id": studentSelected
            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "GET",
                url: baseUrl + '/Api/MonthlyAssessmentSuper/' + studentSelected,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: 'json',
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    console.log(data);
                    $("#act1 tbody").empty();
                    var str = '';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var DaylistDate = data[i]['assessmentDate'];
                            var mydate = DaylistDate.substring(0, 10);
                            var myCount = i + 1;
                            str += '<tr class="row-select">';
                            str += '<td style="width:10%; text-align:center" >'
                                + '<input type = "checkbox" class="check"/>'
                                + '<input type = "hidden" value=' + data[i]['id'] + ' class="checkbox"/>'
                                + '</td>';
                            str += '<td style="display:none">' + data[i]['id'] + '</td>';
                            str += '<td>' + myCount + '</td>';
                            str += '<td>' + data[i]['assessmentMonth'] + '</td>';
                            str += '<td>' + mydate + '</td>';
                            str += '<td style="width:35%;">' + data[i]['monthlyRemarksByStudent'] + '</td>';

                            // $("<td />").html('<input type="checkbox"/>').appendTo(row);
                            str += '</tr>';
                        };
                        $('#act1').append(str);


                        $("#loginModal").modal('show');
                        document.getElementById('myTab').style.display = "none";
                        document.getElementById('myTab2').style.display = "block";
                        //$("#divreject2").modal('show');
                        $('#monthname').html("MONTHLY ASSESSMENT RECORDS OF " + studentSelectedName.toUpperCase() + "");
                        document.getElementById('BtnSubmitDailyActivities2').style.display = "none";
                        document.getElementById('BtnSubmitDailyActivities').style.display = "inline-block";
                    }
                    else {
                        alert("THE SELECT STUDENT DOES NOT HAVE ANY MONTLY ASSESSMENT RECORD TO APPROVE");
                        return false;
                    }
                    //$("#loginModal").modal('show');
                    //document.getElementById('myTab2').style.display = "block";
                    //document.getElementById('myTab').style.display = "none";
                    //$("#act tbody").empty();
                    //document.getElementById('BtnSubmitDailyActivities').style.display = "inline-block";
                    //document.getElementById('BtnSubmitDailyActivities2').style.display = "none";
                    //$('#monthname').html(" " + studentSelectedName.toUpperCase() + " ASSESSMENT FOR THE MONTH OF " + monthSelectedName.toUpperCase() + "")
                    //var remarks = data['monthlyRemarksByStudent'];
                    //$(".student").summernote('code', remarks);
                    //$('.student').summernote('disable');
                    ////alert(monthSelected);
                    //$('#monthAssessed').val(monthSelected);
                },
            });
        });
        $("#act").on('click', '.check', function () {
               document.getElementById("mark").style.display = "block";
               document.getElementById("unmarkall").style.display = "none";

        });
        $("#act1").on('click', '.check', function () {
            document.getElementById("mark").style.display = "block";
            document.getElementById("unmarkall").style.display = "none";

        });
        $("#btnShowModal1").click(function () {
            document.getElementById('unmarkall').style.display = "none";
            document.getElementById('mark').style.display = "inline-block";
            var StudentName = $("#studentSelected option:selected").val();
            var studentDesc = $("#studentSelected option:selected").text();
            var studentSelectedActivities = $("div.studentSelectedActivities select").val();
            var SelectedActivities = $("#weekEndDate option:selected").text();
            //alert(SelectedActivities);
            if (StudentName == "-1") {
                alert("PLEASE SELECT STUDENT TO VIEW DETAILS OF DAILY/WEEKLY RECORDS");
                return false;
            }
            if (studentSelectedActivities == "-1") {
                alert("PLEASE SELECT WEEK END DATE FOR THE SELECTED STUDENT");
                return false;
            }
            var d = {
                "Id": studentSelectedActivities
            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "GET",
                url: baseUrl + '/Api/DailyActivitiesListsSuper/' + studentSelectedActivities,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {

                    $("#act tbody").empty();
                    var str = '';
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var DaylistDate = data[i]['dayDate'];
                            var mydate = DaylistDate.substring(0, 10);
                            var myCount = i + 1;
                            str += '<tr>';
                            str += '<td style="width:10%; text-align:center" >'
                                + '<input type = "checkbox" class="check"/>'
                                + '<input type = "hidden" value=' + data[i]['id'] + ' class="checkbox"/>'
                                + '</td>';
                            str += '<td style="display:none">' + data[i]['id'] + '</td>';
                            str += '<td>' + myCount + '</td>';
                            str += '<td>' + SelectedActivities + '</td>';
                            str += '<td>' + data[i]['weekDayName'] + '</td>';
                            str += '<td>' + mydate + '</td>';
                            str += '<td>' + data[i]['dayDescription'] + '</td>';
                            
                           // $("<td />").html('<input type="checkbox"/>').appendTo(row);
                            str += '</tr>';
                        };
                        $('#act').append(str);


                        $("#loginModal").modal('show');
                        document.getElementById('myTab2').style.display = "none";
                        document.getElementById('myTab').style.display = "block";
                        //$("#divreject2").modal('show');
                        $('#monthname').html("DAILY/WEEKLY RECORDS OF " + studentDesc.toUpperCase() + "")
                        document.getElementById('BtnSubmitDailyActivities').style.display = "none";
                        document.getElementById('BtnSubmitDailyActivities2').style.display = "inline-block";
                    }
                    else {
                        alert("THE SELECT STUDENT DOES NOT HAVE ANY RECORD FOR THE SELECTED WEEK END DATE.");
                        return false;
                    }
                },
            });


            
        });
        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide'); 
            $("#monthAssessed").val('');
            $("#certdate").val('');
            $('.super').summernote('code', '');
            $("#act tbody").empty();
            //$(".super").val("");
        });
        $("#myClose").click(function () {
            $("#loginModal").modal('hide'); 
            $("#monthAssessed").val('');
            $("#certdate").val('');
            $('.super').summernote('code', '');
            $("#act tbody").empty();
        });
        $('#radioDanger2').on('click', function () {
            var office = $('#employerId').val();
            var officerId = parseInt(office)

            var d = {
                "Id": officerId
            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "GET",
                url: baseUrl + '/Api/Scafs/' + officerId,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: 'json',
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    //console.log(data);
                    $('div.studentSelected select').empty();
                    $("div.studentSelected select").append('<option value=-1>--Select Student to Assess--</option>');
                    $('div.monthSelected select').empty();
                    $('div.monthSelected select').append('<option value=-1>--Select Month--</option>');
                    var option = '';
                    for (var i = 0; i < data.length; i++) {
                        option += '<option value="' + data[i]['studentSetUpId'] + '">' + data[i]['studentSetUp']['surname'] + ' ' + data[i]['studentSetUp']['otherNames'] + '</option>';
                        
                    }
                    //alert(option);
                    if (option == "") {
                        $('div.monthSelected select').empty();
                        $('div.monthSelected select').append('<option value=-1>--Select Month--</option>');
                        $('div.studentSelected select').empty();
                        $("div.studentSelected select").append('<option value=-1>--Select Student Assess--</option>');
                    }
                    $("div.studentSelected select").append(option);
                    document.getElementById('myDay').style.display = "none";
                    document.getElementById('myMonth').style.display = "block";
                    document.getElementById('myForm').style.display = "block";
                    document.getElementById('Assessment').style.display = "none";
                },
            });
            
        });
        $('#radioDanger1').on('click', function () {
            document.getElementById('myDay').style.display = "block";
            document.getElementById('myMonth').style.display = "none";
            document.getElementById('myForm').style.display = "none";
            document.getElementById('Assessment').style.display = "block";
        });
        $('#BtnSubmitDailyActivities2').on('click', function () {
            //get the table name
            var grid = document.getElementById("act");
            //get the checkboxes checked
            var checkBoxes = grid.getElementsByClassName("check");

            var SupervisorRemarks = $('.super2').val();
            var studentSelectedActivities = $("div.studentSelectedActivities select").val();
            var employerId = $('#employerId').val();
            var EmployerSupervisorId = parseInt(employerId);
            var studentSelectedActivitiesId = parseInt(studentSelectedActivities);
            
            var activitiesId = "";
            var activitiesListId = "";
            if (SupervisorRemarks == "") {
                alert("PLEASE ENTER REMARK FOR THE STUDENT");
                return false;
            }
            var confirmation = confirm("ARE YOU SURE YOU WANT TO CERTIFY THIS DAILY/WEEKLY ACTIVITIES ?");
            if (confirmation === false) {
                return false;
            }
            //Loop through the CheckBoxes.
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].checked) {
                    var row = checkBoxes[i].parentNode.parentNode;
                    activitiesId = row.cells[1].innerHTML;
                }
                //else {
                //    alert("PLEASE CHECK THE ACTIVITIES TO APPROVE FOR THE STUDENT");
                //    return false;
                //}
                activitiesListId = parseInt(activitiesId);
                //alert(activitiesListId);
             
                var d = {
                    "Id": activitiesListId,
                };
                
                var baseUrl = window.location.origin;
                $.ajax({
                    type: "PUT",
                    url: baseUrl + '/Api/DailyActivitiesLists/ ' + activitiesListId,
                    data: JSON.stringify(d),
                    xhrFields: {
                        withCredentials: true
                    },
                    contentType: "application/json; charset=utf-8",
                    error: function (data) {
                        alert(data.responseText);

                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    success: function (data) {

                       
                    },
                });
            }
            var d2 = {
                "Id": studentSelectedActivitiesId,
                "SupervisorRemarks": SupervisorRemarks,
                "EmployerSupervisorId": EmployerSupervisorId,
            };
           //Updating DailyActivities Table
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/DailyActivities/ ' + studentSelectedActivitiesId,
                data: JSON.stringify(d2),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {

                    alert("DAILY/WEEKLY ACTIVITIES SUCCESSFULLY APPROVED");
                    location.reload();
                },
            });
        })
        $('#BtnSubmitDailyActivities').on('click', function () {
        
            


            var SupervisorRemarks = $('.super').val();
            var DateAssessed = $('#certdate').val();
            var monthSelected = $("#monthAssessed").val();
            var Certify = $("#monthname").html();
            var Approved = true;
            var office = $('#employerId').val();
            var EmployerSupervisorId = parseInt(office)
            var monthSelectedId = parseInt(monthSelected)
            //get the table name
            var grid = document.getElementById("act1");
            //get the checkboxes checked
            var checkBoxes = grid.getElementsByClassName("check");

            if (DateAssessed == "") {
                alert("PLEASE ENTER ASSESSMENT DATE");
                return false;
            }
            if (SupervisorRemarks == "") {
                alert("PLEASE ENTER REMARK FOR THE STUDENT");
                return false;
            }
            var confirmation = confirm("ARE YOU SURE YOU WANT TO CERTIFY " + Certify.toUpperCase() + " ?");
            if (confirmation === false) {
                return false;
            }
            var montlyAssessId = "";
            var monthlyAssessmentId = "";

            $('.row-select input:checked').each(function () {
                //alert("scsc");
                var id = "";
                id = $(this).closest('tr').find('.checkbox').val();

                //name = $(this).closest('tr').find('.name').html();
                monthlyAssessmentId = parseInt(id);
                var d = {
                    "Id": monthlyAssessmentId,
                    "SupervisorRemarks": SupervisorRemarks,
                    "DateAssessed": DateAssessed,
                    "Approved": Approved,
                    "EmployerSupervisorId": EmployerSupervisorId,
                };
                var baseUrl = window.location.origin;
                $.ajax({
                    type: "PUT",
                    url: baseUrl + '/Api/MonthlyAssessments/ ' + monthlyAssessmentId,
                    data: JSON.stringify(d),
                    xhrFields: {
                        withCredentials: true
                    },
                    contentType: "application/json; charset=utf-8",
                    error: function (data) {
                        alert(data.responseText);

                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    success: function (data) {

                    },
                });
            })







            //for (var i = 0; i < checkBoxes.length; i++) {
            //    if (checkBoxes[i].checked) {
            //        var row = checkBoxes[i].parentNode.parentNode;
            //        montlyAssessId = row.cells[1].innerHTML;
            //    }
            //    monthlyAssessmentId = parseInt(montlyAssessId);
      
                
            //}

            alert("MONTLY RECORD SUCCESSFULLY APPROVED");
            location.reload();
        })



    });
    function MyFunctionDailyActivities() {
        var studentSelectedId = $("#studentSelected option:selected").val();
        var studentDesc = $("#studentSelected option:selected").text();
       // alert(studentDesc); alert(StudentName)
        var d = {
            "Id": studentSelectedId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/DailyActivities/' + studentSelectedId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                //console.log(data);
                $('div.studentSelectedActivities select').empty();
                $('div.studentSelectedActivities select').append('<option value=-1>--Select Week End Date--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++) {
                    option += '<option value="' + data[i]['id'] + '">' + data[i]['weekNumber'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    alert("THE SELECTED STUDENT HAVE NO DAILY/WEEKLY ACTIVITIES OR ACTIVITIES HAVE BEEN APPROVED")
                    $('div.studentSelectedActivities select').empty();
                    $('div.studentSelectedActivities select').append('<option value=-1>--Select Week End Date--</option>');
                }
                $('div.studentSelectedActivities select').append(option);

            },
        });
    };
    function MyFunctionStudentSelected() {
        var StudentName = $("#studentSelected option:selected").val();
        var studentDesc = $("#studentSelected option:selected").text();
        if (StudentName == "-1") {
            $('#btnShowModal').html("View Selected Student Daily/Weekly Records");
        }
        else {
            $('#btnShowModal').html("View " + studentDesc + " Daily/Weekly Records");
        }
    }
    function MyFunctionMonthSelected() {
        var studentSelected = $("div.studentSelected select").val();
        var monthSelected = $("div.monthSelected select").val();
        var studentSelectedName = $("div.studentSelected option:selected").html();
        var monthSelectedName = $("div.monthSelected option:selected").html();
        if (studentSelected == "-1") {
            alert("PLEASE SELECT A STUDENT TO ASSESS");
            $('#btnShowModal').html("View Student Monthly Assessment");
            return false;
        }
        $('#btnShowModal').html("View " + studentSelectedName + ' ' + monthSelectedName + " Monthly Assessment ");
       
    }
    function MyFunctionMonthlyStudentSelected() {
        $('#btnShowModal').html("View Student Monthly Assessment");
        var studentSelectedId = $("div.studentSelected select").val();
        var studentSelectedName = $("div.studentSelected option:selected").html();
   
        var d = {
            "Id": studentSelectedId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/MonthlyAssessments/' + studentSelectedId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                //console.log(data);
                $('div.monthSelected select').empty();
                $('div.monthSelected select').append('<option value=-1>--Select Month--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++) {
                    option += '<option value="' + data[i]['id'] + '">' + data[i]['assessmentMonth'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    alert("THE SELECTED STUDENT HAVE NO MONTHLY ASSESSEMENT OR ASSESSMENT HAVE BEEN APPROVED")
                    $('div.monthSelected select').empty();
                    $('div.monthSelected select').append('<option value=-1>--Select Month--</option>');
                }
                $('div.monthSelected select').append(option);
                
            },
        });

    }
    function markall() {
        var x = document.getElementsByClassName("check");
        var y = document.getElementById("mark");
        var w = document.getElementById("unmarkall");


        for (var i = 0; i < x.length; i++) {
            document.getElementsByClassName("check")[i].checked = true;

        }
        y.style.display = "none";
        w.style.display = "block";
    }
    function unmark() {
        var x = document.getElementsByClassName("check");
        var y = document.getElementById("mark");
        var w = document.getElementById("unmarkall");


        for (var i = 0; i < x.length; i++) {
            document.getElementsByClassName("check")[i].checked = false;

        }
        w.style.display = "none";
        y.style.display = "block";

    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

