@page
@model BSSL_SIWES.Web.InstitutionSetupModel
@{
    ViewData["Title"] = "InstitutionSetup";
}

<div class="content-wrapper" style="margin-top:0.5%">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Institution Setup</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Institution Category </label>
                                    <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                            asp-items="ViewBag.CourseGroup" style="width: 100%; text-transform:uppercase" id="drpcate">
                                        <option selected="selected" value="-1">-- Select--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Institution Type</label>
                                    <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                            asp-items="ViewBag.CourseGroup" style="width: 100%; text-transform:uppercase" id="drptype">
                                        <option selected="selected" value="-1">-- Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Institution Code</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                                        </div>
                                        <input type="text" id="txtinsticode" class="form-control" placeholder="Institution Code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Short Code</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txtshortcode" class="form-control" placeholder="Short Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Institution Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txtinstiname" class="form-control" placeholder="Institution Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Address 1</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txtaddr1" class="form-control" placeholder="Address 1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Address 2</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txtaddr2" class="form-control" placeholder="Address 2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    <div class="select2-purple">
                                        <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                                asp-items="ViewBag.NationalityId" style="width: 100%; text-transform:uppercase"
                                                onchange="MyFunctionNationality()" id="nationChange">
                                            <option selected="selected" value="-1">-- Select Country--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>State</label>
                                    <div class="select2-purple">
                                        <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                                id="myState" style="width: 100%;" onchange="MyFunctionState()">
                                            <option selected="selected" value="-1">-- Select State--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <div class="select2-purple">
                                        <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                                id="myLGA" style="width: 100%;">
                                            <option selected="selected" value="-1">--Select City--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Zip Cope</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="hidden" id="orgNameId" />
                                        <input type="text" id="txtzip" class="form-control" placeholder="Enter Zip Code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-swimming-pool"></i></span>
                                        </div>
                                        <input type="hidden" id="orgNameId" />
                                        <input type="text" id="txtphone" class="form-control" placeholder="Enter Phone No.">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="text" id="txtagenemail" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Website</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txtwebsite" class="form-control" placeholder="Website">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name of Contact Person</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txtcontact1" class="form-control" placeholder="Name of Contact Person">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txphone1" class="form-control" placeholder="Phone Number of Contact Person">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" id="txtemail1" class="form-control" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Supervisory Agency</label>
                                    <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                            asp-items="ViewBag.CourseGroup" style="width: 100%; text-transform:uppercase" id="drpagency">
                                        <option selected="selected" value="-1">-- Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">ITF Area Office Attached to</label>
                                    <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                            asp-items="ViewBag.CourseGroup" style="width: 100%; text-transform:uppercase" id="drpareaoffice">
                                        <option selected="selected" value="-1">-- Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputFile">Specify Affiliate Institution</label>
                                    <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                            asp-items="ViewBag.CourseGroup" style="width: 100%; text-transform:uppercase" id="drpaffiliate">
                                        <option selected="selected" value="-1">-- Select--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Specify Carrying Capacity</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-swimming-pool"></i></span>
                                        </div>
                                        <input type="text" id="txtcapacity" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Deactivate Agency?</label>
                                    <div class="select2-purple">
                                        <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                            <option selected="selected" value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputFile">Date Deactivated</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="date" id="txtdeactDate" onchange="MyFunctionCommDate()" class="form-control" placeholder="Enter Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div id="divadd" class="justify-content-center" style="margin-left:35%; margin-bottom:1%;">
                        <button type="submit" id="Btnsave" class="btn btn-primary button button4">Add New Records</button>
                        <button type="submit" id="Btnupdate" class="btn btn-primary button button4">Update Record</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function MyFunctionNationality() {
        var nationId = document.getElementById('nationChange').value;
        var d = {
                "Id": nationId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/States/' + nationId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                console.log(data);
                var option = '';
                for (var i = 0; i < data.length; i++){
                    option += '<option value="'+ data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myState').empty();
                    $('#myState').append('<option value=-1>--Select State--</option>');
                }
                $('#myState').append(option);

            },
        });

    }
    function MyFunctionState() {
        var nationId = document.getElementById('myState').value;
        var d = {
                "Id": nationId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/States/' + nationId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                console.log(data);
                var option = '';
                for (var i = 0; i < data.length; i++){
                    option += '<option value="'+ data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myLGA').empty();
                    $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                }
                $('#myLGA').append(option);

            },
        });

    }
</script>

