@page
@model BSSL_SIWES.Web.SupervisoryAgencyModel
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "SupervisoryAgency";
}

<div class="col-lg-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Supervisory Agency Setup</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Agency Code</label>
                            <div class="input-group">
                                <input type="text" id="txtcode" class="form-control">
                                <input id="readid" type="hidden" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Short Code</label>
                            <div class="input-group">
                                <input type="text" id="txtshortcode" class="form-control" placeholder="Short Code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Agency Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" id="txtname" class="form-control" placeholder="Agency Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Address 1</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" id="txtaddr1" class="form-control" placeholder="Address 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Address 2</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" id="txtaddr2" class="form-control" placeholder="Address 2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Country</label>
                            <div class="select2-purple">
                                <select class="form-control"
                                        asp-items="ViewBag.NationalityId" style="width: 100%; text-transform:uppercase"
                                        onchange="MyFunctionNationality()" id="nationChange">
                                    <option selected="selected" value="-1">-- Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>State</label>
                            <div class="select2-purple">
                                <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                        id="myState" style="width: 100%;" onchange="MyFunctionState()">
                                    <option selected="selected" value="-1">-- Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>City</label>
                            <div class="select2-purple">
                                <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                        id="myLGA" style="width: 100%;">
                                    <option selected="selected" value="-1">--Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Zip Cope</label>
                            <div class="input-group">
                                <input type="hidden" id="txtzipId" />
                                <input type="text" id="txtzip" class="form-control" placeholder="Enter Zip Code">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-swimming-pool"></i></span>
                                </div>
                                <input type="text" id="txtphone1" class="form-control" placeholder="Enter Phone No.">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Email Address</label>
                            <div class="input-group">
                                <input type="text" id="txtemail" class="form-control">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Website</label>
                            <div class="input-group">
                                <input type="text" id="txtwebsite" class="form-control" placeholder="Website">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Name of Contact Person</label>
                            <div class="input-group">
                                <input type="text" id="txtContactname" class="form-control" placeholder="Name of Contact Person">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <div class="input-group">
                                <input type="text" id="txtContactphone" class="form-control" placeholder="Phone Number of Contact Person">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <div class="input-group">
                                <input type="text" id="txtContactemail" class="form-control" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="form-group">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" asp-for="AgencySuperSetup.Deactivate" data-val="true" name="Deactivate" data-val-required="The Fever field is required." id="txtdrpdeact" value="true"> Deactivate Agency?
                                </label>
                            </div>
                        </div>
                    </div>*@
                        @*<div class="col-sm-4">
                <div class="form-group">
                    <label>Deactivate Agency?</label>
                    <div class="select2-purple">
                        <select class="form-control select2 select2-purple" id="txtdrpdeact" data-dropdown-css-class="select2-purple" style="width: 100%;">
                            <option selected="selected" value="0">NO</option>
                            <option value="1">YES</option>
                        </select>
                    </div>
                </div>
            </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="exampleInputFile">Date Deactivated</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="date" id="txtdeactDate" class="form-control" placeholder="Enter Date">
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            <!-- /.card-body -->
            <div id="divadd" class="justify-content-center" style="margin-left:35%; margin-bottom:1%;">
                <button type="submit" id="Btnsave" class="btn btn-primary button button4">Add New Records</button>
                <button type="submit" id="Btnupdate" class="btn btn-primary button button4">Update Record</button>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript">


</script>
<script type="text/javascript">
    $(document).ready(function () {
        formClear();
        function formClear() {
             $("#txtcode").val("");
             $("#txtshortcode").val("");
             $("#txtname").val("");
             $("#txtaddr1").val("");
             $("#txtaddr2").val("");
             $("#nationChange").val("-1");
             $("#myState").val("-1");
             $("#myLGA").val("-1");
             $("#txtzip").val("");
             $("#txtphone1").val("");
             $("#txtemail").val("");
             $("#txtwebsite").val("");
             $("#txtContactname").val("");
             $("#txtContactphone").val("");
             $("#txtContactemail").val("");
             //$("#txtdrpdeact").val("0");
             //$("#txtdeactDate").val("");

             $("#Btnsave").show();
             $("#Btnupdate").hide();
         }
        $('#Btnsave').on('click', function (e) {
           // alert("i change3"); return false;
             e.preventDefault();
             var txtcode = document.getElementById('txtcode').value;
             var txtshortcode = document.getElementById('txtshortcode').value;
             var txtname = document.getElementById('txtname').value;
             var txtaddr1 = document.getElementById('txtaddr1').value;
             var txtaddr2 = document.getElementById('txtaddr2').value;
             var nationChange = document.getElementById('nationChange').value;
             var myState = document.getElementById('myState').value;
             var myLGA = document.getElementById('myLGA').value;
             var txtzip = document.getElementById('txtzip').value;
             var txtphone1 = document.getElementById('txtphone1').value;
             var txtemail = document.getElementById('txtemail').value;
             var txtwebsite = document.getElementById('txtwebsite').value;
             var txtContactname = document.getElementById('txtContactname').value;
             var txtContactphone = document.getElementById('txtContactphone').value;
             var txtContactemail = document.getElementById('txtContactemail').value;
            //var Deactivate = $('#Deactivate').is(":checked");
            // var txtdeactDate = document.getElementById('txtdeactDate').value;

             var d = {
                "Code": txtcode,
                "ShortCode": txtshortcode,
                "Name": txtname,
                "Address1": txtaddr1,
                "Address2": txtaddr2,
                "Country": nationChange,
                "State": myState,
                "City": myLGA,
                "ZipCode": txtzip,
                "PhoneNo": txtphone1,
                "Email": txtemail,
                "WebAddress": txtwebsite,
                "NameOfCPerson": txtContactname,
                "CPersonPhone": txtContactphone,
                "CPersonEmail": txtContactemail,
               // "Deactivate": Number(txtdrpdeact),
               // "DeactDate": txtdeactDate,
             };
             var baseUrl = window.location.origin;
             $.ajax({
                 type: "POST",
                 url: baseUrl + '/Api/AgencySuperSetups',
                 data: JSON.stringify(d),
                 xhrFields: {
                     withCredentials: true
                 },
                 contentType: "application/json; charset=utf-8",
                 error: function (data) {
                     alert(data.responseText);
                 },
                 failure: function (data) {
                     alert(data.responseText);
                 },
                 success: function (data) {
                     formClear();
                     location.reload();
                 },
             });
         });
        $('#Btnupdate').on('click', function (e) {
            alert("i click");
            e.preventDefault();
             var readid = document.getElementById('readid').value;
              var txtcode = document.getElementById('txtcode').value;
             var txtshortcode = document.getElementById('txtshortcode').value;
             var txtname = document.getElementById('txtname').value;
             var txtaddr1 = document.getElementById('txtaddr1').value;
             var txtaddr2 = document.getElementById('txtaddr2').value;
             var nationChange = document.getElementById('nationChange').value;
             var myState = document.getElementById('myState').value;
             var myLGA = document.getElementById('myLGA').value;
             var txtzip = document.getElementById('txtzip').value;
             var txtphone1 = document.getElementById('txtphone1').value;
             var txtemail = document.getElementById('txtemail').value;
             var txtwebsite = document.getElementById('txtwebsite').value;
             var txtContactname = document.getElementById('txtContactname').value;
             var txtContactphone = document.getElementById('txtContactphone').value;
             var txtContactemail = document.getElementById('txtContactemail').value;
             //var txtdrpdeact = document.getElementById('txtdrpdeact').value;
             //var txtdeactDate = document.getElementById('txtdeactDate').value;

              var d = {
                    "Id": Number(readid),
                "Code": txtcode,
                "ShortCode": txtshortcode,
                "Name": txtname,
                "Address1": txtaddr1,
                "Address2": txtaddr2,
                "Country": nationChange,
                "State": myState,
                "City": myLGA,
                "ZipCode": txtzip,
                "PhoneNo": txtphone1,
                "Email": txtemail,
                "WebAddress": txtwebsite,
                "NameOfCPerson": txtContactname,
                "CPersonPhone": txtContactphone,
                "CPersonEmail": txtContactemail,
                //"Deactivate": txtdrpdeact,
                //"DeactDate": txtdeactDate,
             };
            //alert(editindex); alert(txtname); alert(txtcode); alert(drpListCat); alert(drpAgency);
            //return false;
            var t = serialNo - 1;
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/AgencySuperSetups/ ' + readid,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                   // $('.readid.' + t).text(data["id"]);
                    $('#txtcode').prop("readonly", true);
                    formClear();
                },
            });
         });
         $("#txtcode" ).on('change', function (e) {
             e.preventDefault();
            // alert("i changee2");
        var readid = document.getElementById('readid').value;
        var txtcode = document.getElementById('txtcode').value;
             if (readid == "")
             {
                 $('#txtcode').prop("readonly", false);
                 $('#txtcode').val(txtcode);
                 $("#Btnsave").show();
                 $("#Btnupdate").hide();
            }
             else {
                 var d = {
                    "Id": readid
                };
                var baseUrl = window.location.origin;
                $.ajax({
                    type: "GET",
                    url: baseUrl + '/Api/AgencySuperSetups/' + readid,
                    data: JSON.stringify(d),
                    xhrFields: {
                        withCredentials: true
                    },
                    contentType: 'json',
                    error: function (data) {
                        alert(data.responseText);
                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    success: function (data) {
                        // populate txtbox
                        $("#Btnsave").hide();
                        $("#Btnupdate").show();
                        $('#txtcode').val(txtcode);
                        $('#txtcode').prop("readonly", true);
                        $('#txtshortcode').val(data["id"]);
                        $('#nationChange').val(data["country"]);
                    },
                });
            }
         })
         var availableTags = [];
         function addAvailableTags(lbl, val) {
             availableTags.push({ label: lbl, value: val });
         }
        @foreach (var item in Model.AgencySuperSetupList)
        {
            @:addAvailableTags('@item.Code', '@item.Id');
        }

        $("#txtcode" ).autocomplete({
            source: availableTags,
            select: function (event, ui) {
                $('#txtcode').val(ui.item.label);
                $('#readid').val(ui.item.value);
                return false;
            }
        });
    });
      function MyFunctionNationality() {
        var nationId = document.getElementById('nationChange').value;
        var d = {
            "Id": nationId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/States/' + nationId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                //console.log(data);
                $('#myState').empty();
                $('#myState').append('<option value=-1>--Select--</option>');
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++) {
                    option += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myState').empty();
                    $('#myState').append('<option value=-1>--Select--</option>');
                }
                $('#myState').append(option);

            },
        });

    }
    function MyFunctionState() {
        var stateId = document.getElementById('myState').value;
        // alert(stateId);
        var d = {
            "Id": stateId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/LGAs/' + stateId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                // console.log(data);
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++) {
                    option += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myLGA').empty();
                    $('#myLGA').append('<option value=-1>--Select--</option>');
                }

                $('#myLGA').append(option);

            },
        });

    }
</script>
