@page
@model BSSL_SIWES.Web.DailyActivitiesModel
@{
    ViewData["Title"] = "DailyActivities";
}
<div class="col-md-12">
    <div class="card card-primary">
        <input type="hidden" asp-for="Scaf.StudentSetUpId" id="studentId" name="course" />
        <div class="modal fade" tabindex="-1" id="loginModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg col-md-12" style="margin-left:25%;">
                <div class="modal-content">
                    <div class="modal-header btn-primary">
                        <h4 class="modal-title" id="monthname" style="margin-left:36%">DAILY SUMMARY REPORT</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="activities" style="margin-left:20%; ">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Week Number</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" id="weekNo" value="Week 1" class="form-control" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label id="toDisplay">Monday Date</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="hidden" id="value" />
                                        <input type="date" id="monday_Date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Trainee Students' Remark</label>
                                    <textarea class="textarea" id="remark" placeholder="Place some text here" style="width: 100%; height: 200px;
                        font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center" style="margin-left:30%; margin-bottom:3%;">
                            <button type="button" id="BtnSubmitDailyActivities" class="btn btn-primary">Send Activities For Supervisor Cerification</button>

                            <button type="button" id="btnHideModal" class="btn btn-danger button button4">
                                Hide
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="icheck-info d-inline">
                <input type="radio" name="r2" checked id="radioDanger1">
                <label for="radioDanger1">
                    Daily/Weekly Activities
                </label>
            </div>
            <div class="icheck-info d-inline">
                <input type="radio" name="r2" id="radioDanger2">
                <label for="radioDanger2">
                    Monthly Assessment
                </label>
            </div>
        </div>
        <div class="card-header" id="myDay">
            <h3 class="card-title justify-content-center">Daily Record of Activities</h3>
        </div>
        <div class="card-header" style="display:none" id="myMonth">
            <h3 class="card-title">Monthly Assessment</h3>
        </div>
        <form role="form" style="display:none" id="myForm">
            <div class="card-body">
                <div class="row" style="display:none">
                    <div class="col-md-6">
                        <div id="imagesList" class="form-group">
                            <label>Upload Monthly Assessment</label>
                            @*<input asp-for="Product_Image[0]" />*@
                            <input type="file" class="btn btn-info" multiple name="Product_Image" accept="image/*" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label>Description of Work for The Month of:</label>
                            <select class="form-control" id="myMonth"  style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Assessment Date</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                </div>
                                <input type="date" id="certdate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description of Work</label>
                            <textarea class="textarea" id="workDescription" placeholder="Place some text here" style="width: 100%; height: 200px;
                                            font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                    </div>
                </div>

                <!-- /.card-body -->

                <div class="justify-content-center" style="margin-left:35%; margin-bottom:3%;">
                    <button type="button" id="monthlyAssessment" class="btn btn-primary">Submit Monthly Assessment</button>
                </div>
            </div>

        </form>
        <div class="card-body" id="myList" style="display:none">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">
                    <button class="nav-link btn btn-warning" id="mondayDate">Monday Activities</button>
                </li>
                <li class="list-group-item">
                    <button class="nav-link btn btn-success" id="tuesdayDate">Tuesday Activities </button>
                </li>
                <li class="list-group-item">
                    <button class="nav-link btn btn-primary" id="wednesdayDate">Wednesday Activities </button>
                </li>
                <li class="list-group-item">
                    <button class="nav-link btn btn-danger" id="thursdayDate">Thursday Activities</button>
                </li>
                <li class="list-group-item">
                    <button class="nav-link btn btn-info" id="fridayDate">Friday Activities</button>
                </li>
            </ul>

        </div>
        <div class="card-body" id="Assessment">
            <div class="form-group row" style="float:right; margin-bottom:5px; margin-top:0.4px">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Week</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control btn-warning" id="weekend" readonly="readonly">
                </div>
            </div>
            <p style="clear:both"></p>
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:4%; text-align:center">Week Day</th>
                        <th style="width:4%; text-align:center">Date</th>
                        <th style="width:45%; text-align:center">Summary of Activities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>
                            <input type="date" class="form-control" id="mondayDate" />
                        </td>
                        <td><textarea class="form-control" rows="3" id="mondayRemark" placeholder="Enter Summary of Activities for Monday"></textarea></td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>
                            <input type="date" class="form-control" id="tuesdayDate" />
                        </td>
                        <td><textarea class="form-control" rows="3" id="tuesdayRemark" placeholder="Enter Summary of Activities for Tuesday"></textarea></td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>
                            <input type="date" class="form-control" id="wednesdayDate" />
                        </td>
                        <td><textarea class="form-control" rows="3" id="wednesdayRemark" placeholder="Enter Summary of Activities for Wednesday"></textarea></td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>
                            <input type="date" class="form-control" id="thursdayDate" />
                        </td>
                        <td><textarea class="form-control" rows="3" id="thursdayRemark" placeholder="Enter Summary of Activities for Thursday"></textarea></td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>
                            <input type="date" class="form-control" id="fridayDate" />
                        </td>
                        <td><textarea class="form-control" rows="3" id="fridayRemark" placeholder="Enter Summary of Activities for Friday"></textarea></td>
                    </tr>

                </tbody>
                <tfoot style="display:none">
                    <tr>
                        <th style="width:4%; text-align:center">Day/Date</th>
                        <th style="width:45%; text-align:center">Summary of Activities</th>
                    </tr>
                </tfoot>
            </table>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Trainee Students' Remark</label>
                        <textarea class="textarea" placeholder="Place some text here" style="width: 100%; height: 200px;
                                            font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="justify-content-center" style="margin-left:35%; margin-bottom:3%;">
                <button type="button" id="BtnSubmitDailyActivitiesAll" class="btn btn-warning">Send For Supervisor Cerification</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];
        var month = (new Date()).getMonth();
        for (; month < monthNames.length; month++) {
            //option += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
            $('select').append('<option value ="' + monthNames[month] + '">' + monthNames[month] + '</option>');
        }




        $('.textarea').summernote();
        var getTosday = dates();
        var lastWeekMonth = getTosday.getMonth() + 1;
        var lastWeekDay = getTosday.getDate();
        var lastWeekYear = getTosday.getFullYear();
        var lastWeekDisplayPadded = ("00" + lastWeekDay.toString()).slice(-2) + "/" + ("00" + lastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + lastWeekYear.toString()).slice(-4);
        $('#weekend').val(lastWeekDisplayPadded);

        $('#radioDanger2').on('click', function () {
            document.getElementById('myList').style.display = "none";
            document.getElementById('myDay').style.display = "none";
            document.getElementById('myMonth').style.display = "block";
            document.getElementById('myForm').style.display = "block";
            document.getElementById('Assessment').style.display = "none";
        });
        $('#radioDanger1').on('click', function () {
            document.getElementById('myList').style.display = "none";
            document.getElementById('myDay').style.display = "block";
            document.getElementById('myMonth').style.display = "none";
            document.getElementById('myForm').style.display = "none";
            document.getElementById('Assessment').style.display = "block";
        });
        $('#mondayDate').on('click', function () {
            $('#toDisplay').html("Monday Date");
            $('#BtnSubmitDailyActivities').html("Send Monday's Activities For Supervisor Cerification");
            $("#loginModal").modal('show');
            $('#value').val("1");
            var DayValue = $('#value').val();
            var stdId = $('#studentId').val();

            //var d = {
            //    "Id": DayValue
            //};
            //var baseUrl = window.location.origin;
            //$.ajax({
            //    type: "GET",
            //    url: baseUrl + '/Api/DailyActivities/' + DayValue,
            //    data: JSON.stringify(d),
            //    xhrFields: {
            //        withCredentials: true
            //    },
            //    contentType: 'json',
            //    error: function (data) {
            //        alert(data.responseText);
            //    },
            //    failure: function (data) {
            //        alert(data.responseText);
            //    },
            //    success: function (data) {
            //        //console.log(data);
            //        //$('#subMenu').prop("readonly", false);
            //        //$('#pageURL').prop("readonly", false);

            //    },
            //});
            document.getElementById('act').style.display = "block";
            document.getElementById('weekday').style.display = "block";
           
        });
        $('#tuesdayDate').on('click', function () {
            $('#toDisplay').html("Tuesday Date");
            $('#BtnSubmitDailyActivities').html("Send Tuesday's Activities For Supervisor Cerification");
            $("#loginModal").modal('show');
            $('#value').val("2");
            document.getElementById('act').style.display = "block";
            document.getElementById('weekday').style.display = "block";
           
        });
        $('#wednesdayDate').on('click', function () {
            $('#toDisplay').html("Wednesday Date");
            $('#BtnSubmitDailyActivities').html("Send Wednesday's Activities For Supervisor Cerification");
            $("#loginModal").modal('show');
            $('#value').val("3");
            document.getElementById('act').style.display = "block";
            document.getElementById('weekday').style.display = "block";
        });
        $('#thursdayDate').on('click', function () {
            $('#toDisplay').html("Thursday Date");
            $('#BtnSubmitDailyActivities').html("Send Thursday's Activities For Supervisor Cerification");
            $("#loginModal").modal('show');
            $('#value').val("4");
            document.getElementById('act').style.display = "block";
            document.getElementById('weekday').style.display = "block";
        });
        $('#fridayDate').on('click', function () {
            $('#toDisplay').html("Friday Date");
            $('#BtnSubmitDailyActivities').html("Send Friday's Activities For Supervisor Cerification");
            $("#loginModal").modal('show');
            $('#value').val("5");
            document.getElementById('act').style.display = "block";
            document.getElementById('weekday').style.display = "block";
        });
        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
            $('#BtnSubmitDailyActivities').html("Send Activities For Supervisor Cerification");
            $('#value').val("");
        });
        $('#BtnSubmitDailyActivitiesAll').on('click', function () {
            var stdId = $('#studentId').val();
            var mondayDate = $('#mondayDate').val();
            var tuesdayDate = $('#tuesdayDate').val();
            var wednesdayDate = $('#wednesdayDate').val();
            var thursdayDate = $('#thursdayDate').val();
            var fridayDate = $('#fridayDate').val();
            var mondayRemark = $('#mondayRemark').val();
            var tuesdayRemark = $('#tuesdayRemark').val();
            var wednesdayRemark = $('#wednesdayRemark').val();
            var thursdayRemark = $('#thursdayRemark').val();
            var fridayRemark = $('#fridayRemark').val();

            //var DayV = $('#value').val();
            //var DayValue = parseInt(DayV);
            var Approved = false;
            var WeekNumber = $('#weekend').val();
            var studentId = parseInt(stdId)
            //alert(stdId); alert(monday_Date); alert(remark); alert(value); alert(WeekNumber);
            if (stdId == "") {
                alert("STUDENT DO NOT EXIST PLEASE CHECK?");
                return false;
            }
            var d = {
                "StudentSetUpId": studentId,
                //"CerifiedDate": CerifiedDate,
                "Approved": Approved,
                "WeekNumber": WeekNumber
                //"EmployerSupervisorId": EmployerSupervisorId
            };
            var baseUrl = window.location.origin;
            var url = baseUrl + '/Api/DailyActivities';
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    console.log(data);
                    var activities = data['id'];
                    alert(activities);
                    //alert(mondayDate);
                    var d = {
                        "DailyActivitiesId": activities,
                        "Day1": mondayDate,
                        "Day1Description": mondayRemark,
                        "Day2": tuesdayDate,
                        "Day2Description": tuesdayRemark,
                        "Day3": wednesdayDate,
                        "Day3Description": wednesdayRemark,
                        "Day4": thursdayDate,
                        "Day4Description": thursdayRemark,
                        "Day5": fridayDate,
                        "Day5Description": fridayRemark,
                    };

                    $.ajax({
                        type: "POST",
                        url: baseUrl + '/Api/DailyActivitiesLists',
                        data: JSON.stringify(d),
                        xhrFields: {
                            withCredentials: true
                        },
                        contentType: "application/json; charset=utf-8",
                        error: function (data) {
                            alert(data.responseText);
                        },
                        failure: function (data) {
                            alert(data.responseText);
                        },
                        success: function (data) {

                            alert("DAILY ACTIVITIES FOR WAS SUCCESSFULLY SAVED");
                            //$('#monday_Date').val("");
                            //$('#remark').val("");
                            //$('#value').val("");
                            //$("#loginModal").modal('hide');
                        }
                    });
                },
            });
        });
        $('#monthlyAssessment').on('click', function () {
            var stdId = $('#studentId').val();
            var myMonth = $('select').val();
            var certdate = $('#certdate').val();
            var workDescription = $('#workDescription').val();
            var Approved = false;
            var studentId = parseInt(stdId)
            if (stdId == "") {
                alert("STUDENT DOES NOT EXISTS, PLEASE CHECK!!");
                return false;
            }
            if (myMonth == "0") {
                alert("PLEASE SELECT MONTH TO FILL ASSESSMENT");
                return false;
            }
            if (certdate == "") {
                alert("PLEASE ENTER DATE OF ASSESSMENT");
                return false;
            }

            if (workDescription == "") {
                alert("PLEASE ENTER THE DESCRIPTION OF WORK DONE FOR THE MONTH OF " + myMonth.toUpperCase() + "");
                return false;
            }
            var d = {
                "StudentSetUpId": studentId,
                "AssessmentMonth": myMonth,
                "Approved": Approved,
                "AssessmentDate": certdate,
                "MonthlyRemarksByStudent": workDescription
            };
            var baseUrl = window.location.origin;
            var url = baseUrl + '/Api/MonthlyAssessments';
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    alert("MONTHLY ASSESSMENT FOR THE MONTH OF " + myMonth.toUpperCase() + " WAS SUCCESSFULLY SUBMITTED");
                    location.reload();
                },
            });
        });
    });
    
     function getLastWeek() {
          var today = new Date();
         var lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate());
         //alert(lastWeek);
          return lastWeek;
    }
    function dates() {
    var dayOfWeek = 5;//friday
    var date = new Date();
        var diff = date.getDay() - dayOfWeek;
        //alert(diff);
    if (diff > 0) {
        date.setDate(date.getDate() + 6);
    }
    else if (diff < 0) {
        date.setDate(date.getDate() + ((-1) * diff))
        }
        return date;

    }
    function mondaydates() {
        var dayOfWeek = 0;//friday
        var mondaydate = new Date();
            var mondaydiff = mondaydate.getDay() - dayOfWeek;
            //alert(mondaydiff); alert(mondaydate);
        if (mondaydiff > 0) {
            mondaydate.setDate(mondaydate.getDate() + 1);
        }
        else if (mondaydiff < 0) {
            mondaydate.setDate(mondaydate.getDate() + ((-1) * mondaydiff))
        }
            return mondaydate;

    }
    function tuesdaydates() {
        var dayOfWeek = 2;//friday
        var tuesdaydate = new Date();
        var tuesdaydiff = tuesdaydate.getDay() - dayOfWeek;
       // alert(tuesdaydiff); alert(tuesdaydate);
        if (tuesdaydiff > 0) {
            tuesdaydate.setDate(tuesdaydate.getDate() - 1);
        }
        else if (tuesdaydiff < 0) {
            tuesdaydate.setDate(tuesdaydate.getDate() + ((-1) * tuesdaydiff))
        }
        return tuesdaydate;

    }
    function wednesdaydates() {
        var dayOfWeek = 3;//friday
        var wednesdaydate = new Date();
        var wednesdaydiff = wednesdaydate.getDay() - dayOfWeek;
        //alert(mondaydiff); alert(mondaydate);
        if (wednesdaydiff > 0) {
            wednesdaydate.setDate(wednesdaydate.getDate() + 6);
        }
        else if (wednesdaydiff < 0) {
            wednesdaydate.setDate(wednesdaydate.getDate() + ((-1) * wednesdaydiff))
        }
        return wednesdaydate;

    }
    function thursdaydates() {
        var dayOfWeek = 0;//friday
        var thursdate = new Date();
        var thursdaydiff = thursdate.getDay() - dayOfWeek;
        //alert(diff);
        if (thursdate > 0) {
            thursdate.setDate(thursdate.getDate() + 1);
        }
        else if (mondaydiff < 0) {
            thursdate.setDate(thursdate.getDate() + ((-1) * thursdaydiff))
        }
        return thursdate;

    }
    function Nothing() {
        var lastWeek = getLastWeek();

        var getTosday = dates();
        var getMondaydayDay = mondaydates();
        var getTuesdayDay = tuesdaydates();
        var getWednesdayDay = wednesdaydates();
        var getThursdayDay = thursdaydates();


        //MONDAY
        var MondaylastWeekMonth = getMondaydayDay.getMonth() + 1;
        var MondaylastWeekDay = getMondaydayDay.getDate();
        var MondaylastWeekYear = getMondaydayDay.getFullYear();
        //TUESDAY
        var TuesdaylastWeekMonth = getTuesdayDay.getMonth() + 1;
        var TuesdaylastWeekDay = getTuesdayDay.getDate();
        var TuesdaylastWeekYear = getTuesdayDay.getFullYear();
        //WEDNESDAY
        var WednesdaylastWeekMonth = getWednesdayDay.getMonth() + 1;
        var WednesdaylastWeekDay = getWednesdayDay.getDate();
        var WednesdaylastWeekYear = getWednesdayDay.getFullYear();
        //THURSDAY
        var ThursdaylastWeekMonth = getThursdayDay.getMonth() + 1;
        var ThursdaylastWeekDay = getThursdayDay.getDate();
        var ThursdaylastWeekYear = getThursdayDay.getFullYear();
        //FRIDAY
        var lastWeekMonth = getTosday.getMonth() + 1;
        var lastWeekDay = getTosday.getDate();
        var lastWeekYear = getTosday.getFullYear();

        var lastWeekDisplay = lastWeekMonth + "/" + lastWeekDay + "/" + lastWeekYear;




        //MONDAY
        var lastWeekDisplayPaddedMonday = ("00" + MondaylastWeekDay.toString()).slice(-2) + "/" + ("00" + MondaylastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + MondaylastWeekYear.toString()).slice(-4);
        $('#mondayDate').val(lastWeekDisplayPaddedMonday);
        //TUESSDAY
        var lastWeekDisplayPaddedTuesday = ("00" + TuesdaylastWeekDay.toString()).slice(-2) + "/" + ("00" + TuesdaylastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + TuesdaylastWeekYear.toString()).slice(-4);
        $('#tuesdayDate').val(lastWeekDisplayPaddedTuesday);
        //WEDNESDAY
        var lastWeekDisplayPaddedWednesday = ("00" + WednesdaylastWeekDay.toString()).slice(-2) + "/" + ("00" + WednesdaylastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + WednesdaylastWeekYear.toString()).slice(-4);
        $('#wednesdayDate').val(lastWeekDisplayPaddedWednesday);
        //THURSDAY
        var lastWeekDisplayPaddedThursday = ("00" + ThursdaylastWeekDay.toString()).slice(-2) + "/" + ("00" + ThursdaylastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + ThursdaylastWeekYear.toString()).slice(-4);
        $('#thursdayDate').val(lastWeekDisplayPaddedThursday);
        //FRIDAY
        var lastWeekDisplayPadded = ("00" + lastWeekDay.toString()).slice(-2) + "/" + ("00" + lastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + lastWeekYear.toString()).slice(-4);
        $('#fridayDate').val(lastWeekDisplayPadded);
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
