@page
@model BSSL_SIWES.Web.DailyActivitiesModel
@{
    ViewData["Title"] = "DailyActivities";
}
<div class="col-md-12">
    <div class="card card-primary">
        <input type="hidden" asp-for="Scaf.StudentSetUpId" id="studentId" name="course" />
        <div class="form-group clearfix">
            <div class="icheck-info d-inline">
                <input type="radio" name="r2" checked id="radioDanger1">
                <label for="radioDanger1">
                    Daily/Weekly Activities
                </label>
            </div>
            <div class="icheck-info d-inline">
                <input type="radio" name="r2" id="radioDanger2">
                <label for="radioDanger2">
                    Monthly Assessment
                </label>
            </div>
        </div>
        <div class="card-header" id="myDay">
            <h3 class="card-title justify-content-center">Daily Record of Activities</h3>
        </div>
        <div class="card-header" style="display:none" id="myMonth">
            <h3 class="card-title">Monthly Assessment</h3>
        </div>
        <form role="form" style="display:none" id="myForm">
            <div class="card-body">
                <div class="row" style="display:none">
                    <div class="col-md-6">
                        <div id="imagesList" class="form-group">
                            <label>Upload Monthly Assessment</label>
                            @*<input asp-for="Product_Image[0]" />*@
                            <input type="file" class="btn btn-info" multiple name="Product_Image" accept="image/*" />

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 daySelected">
                        <div class="form-group">
                            <label>Description of Work for The Month of:</label>
                            <select class="form-control" id="myMonth" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>Assessment Date</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                </div>
                                <input type="date" id="certdate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description of Work</label>
                            <textarea class="textarea" id="workDescription" placeholder="Place some text here" style="width: 100%; height: 200px;
                                            font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                    </div>
                </div>

                <!-- /.card-body -->

                <div class="justify-content-center" style="margin-left:35%; margin-bottom:3%;">
                    <button type="button" id="monthlyAssessment" class="btn btn-primary">Submit Monthly Assessment</button>
                </div>
            </div>

        </form>
        <div class="card-body" id="myList">
            <div class="modal-body">
                <div class="row" id="activities">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Week Ending Date</label>
                                <input type="text" id="weekend" class="form-control" readonly="readonly">
                            </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label >Week Days</label>
                            <select class="form-control" id="weekDay" style="width: 100%;">
                                <option selected="selected" value="-1">--Select Day of Week--</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label id="toDisplay">Date</label>
                                <input type="hidden" id="dayName" />
                                <input type="date" id="monday_Date" onchange="myFunctionDate()" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Trainee Students' Remark</label>
                            <textarea class="textarea remarks" id="remark" placeholder="Place some text here" style="width: 100%; height: 200px;
                        font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="justify-content-center" style="margin-left:20%; margin-bottom:3%;">
                    <button type="button" id="BtnSubmitDailyActivities" class="btn btn-primary">Send Activities For Supervisor Cerification</button>

                    <button type="button" id="btnHideModal" onclick="pageRedirect()" class="btn btn-danger button button4">
                        View Previous Activities
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];
        var month = (new Date()).getMonth();
        for (; month < monthNames.length; month++) {
            //option += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
            //$('select').append('<option value ="' + monthNames[month] + '">' + monthNames[month] + '</option>');
            $('div.daySelected select').append('<option value ="' + monthNames[month] + '">' + monthNames[month] + '</option>');
        }




        $('.textarea').summernote();
        var getTosday = dates();
        var lastWeekMonth = getTosday.getMonth() + 1;
        var lastWeekDay = getTosday.getDate();
        var lastWeekYear = getTosday.getFullYear();
        var lastWeekDisplayPadded = ("00" + lastWeekDay.toString()).slice(-2) + "/" + ("00" + lastWeekMonth.toString()).slice(-2)
            + "/" + ("0000" + lastWeekYear.toString()).slice(-4);
        $('#weekend').val(lastWeekDisplayPadded);

        $('#radioDanger2').on('click', function () {
            document.getElementById('myList').style.display = "none";
            document.getElementById('myDay').style.display = "none";
            document.getElementById('myMonth').style.display = "block";
            document.getElementById('myForm').style.display = "block";
        });
        $('#radioDanger1').on('click', function () {
            document.getElementById('myList').style.display = "block";
            document.getElementById('myDay').style.display = "block";
            document.getElementById('myMonth').style.display = "none";
            document.getElementById('myForm').style.display = "none";
        });
        $('#BtnSubmitDailyActivities').on('click', function () {
            var stdId = $('#studentId').val();
            var weekend = $('#weekend').val();
            var weekDay = $('#weekDay').val();
            var monday_Date = $('#monday_Date').val();
            var remarks = $('.remarks').val();
            var studentId = parseInt(stdId);
            //alert(weekDay);
            if (studentId == "") {
                alert("STUDENT DOES NOT EXISTS, PLEASE CHECK!!");
                return false;
            }
            if (weekDay == "-1") {
                alert("PLEASE DAY OF THE WEEK");
                return false;
            }
            if (monday_Date == "") {
                alert("PLEASE ENTER DATE");
                return false;
            }
            if (remarks == "") {
                alert("PLEASE ENTER THE DESCRIPTION OF " + monday_Date + " WORK");
                return false;
            }
            var dateDay = {
                "Id": studentId
            };
            var confirmation = confirm("ARE YOU SURE YOU WANT TO SEND YOUR WORK TO YOUR SUPERVISOR ?");
            if (confirmation === false) {
                return false;
            }
            var baseUrl = window.location.origin;
            $.ajax({
                type: "GET",
                url: baseUrl + '/Api/DailyActivities/' + studentId,
                data: JSON.stringify(dateDay),
                xhrFields: {
                    withCredentials: true
                },
                contentType: 'json',
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var DailyActivitiesId = data[i].id;
                            var listDate = data[i].weekNumber;
                            if (listDate == weekend) {
                                //alert(listDate); alert(weekend);
                                var d1 = {
                                    "DailyActivitiesId": DailyActivitiesId,
                                    "DayDate": monday_Date,
                                    "DayDescription": remarks,
                                    "WeekDayName": weekDay,
                                };
                                //alert(DailyActivitiesId), alert(monday_Date), alert(remarks)
                                var baseUrl1 = window.location.origin;
                                $.ajax({
                                    type: "POST",
                                    url: baseUrl1 + '/Api/DailyActivitiesLists',
                                    data: JSON.stringify(d1),
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    contentType: "application/json; charset=utf-8",
                                    error: function (data) {
                                        alert(data.responseText);
                                    },
                                    failure: function (data) {
                                        alert(data.responseText);
                                    },
                                    success: function (data) {

                                        alert("DAILY ACTIVITIES WAS SUCCESSFULLY SENT");
                                        location.reload();
                                    }
                                });
                            }
                            else {
                                
                            }
                            //console.log(list[i]);
                        }
                    }
                    else {
                        var d2 = {
                            "StudentSetUpId": studentId,
                            "WeekNumber": weekend
                        };

                        var baseUrl = window.location.origin;
                        var url = baseUrl + '/Api/DailyActivities';
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: JSON.stringify(d2),
                            xhrFields: {
                                withCredentials: true
                            },
                            contentType: "application/json; charset=utf-8",
                            error: function (data) {
                                alert(data.responseText);
                            },
                            failure: function (data) {
                                alert(data.responseText);
                            },
                            success: function (data) {
                                //console.log(data);
                                var activities = data['id'];
                                //alert(activities);
                                //alert(mondayDate);
                                var d = {
                                    "DailyActivitiesId": activities,
                                    "DayDate": monday_Date,
                                    "DayDescription": remarks,
                                    "WeekDayName": weekDay,
                                };

                                $.ajax({
                                    type: "POST",
                                    url: baseUrl + '/Api/DailyActivitiesLists',
                                    data: JSON.stringify(d),
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    contentType: "application/json; charset=utf-8",
                                    error: function (data) {
                                        alert(data.responseText);
                                    },
                                    failure: function (data) {
                                        alert(data.responseText);
                                    },
                                    success: function (data) {

                                        alert("DAILY ACTIVITIES WAS SUCCESSFULLY SENT");
                                        location.reload();
                                    }
                                });
                            },
                        });
                    }
                    
                }
            });
            
        })
        $('#monthlyAssessment').on('click', function () {
            var stdId = $('#studentId').val();
            var myMonth = $('select').val();
            var certdate = $('#certdate').val();
            var workDescription = $('#workDescription').val();
            var Approved = false;
            var studentId = parseInt(stdId)
            if (stdId == "") {
                alert("STUDENT DOES NOT EXISTS, PLEASE CHECK!!");
                return false;
            }
            if (myMonth == "0") {
                alert("PLEASE SELECT MONTH TO FILL ASSESSMENT");
                return false;
            }
            if (certdate == "") {
                alert("PLEASE ENTER DATE OF ASSESSMENT");
                return false;
            }

            if (workDescription == "") {
                alert("PLEASE ENTER THE DESCRIPTION OF WORK DONE FOR THE MONTH OF " + myMonth.toUpperCase() + "");
                return false;
            }
            var d = {
                "StudentSetUpId": studentId,
                "AssessmentMonth": myMonth,
                "Approved": Approved,
                "AssessmentDate": certdate,
                "MonthlyRemarksByStudent": workDescription
            };
            var baseUrl = window.location.origin;
            var url = baseUrl + '/Api/MonthlyAssessments';
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    alert("MONTHLY ASSESSMENT FOR THE MONTH OF " + myMonth.toUpperCase() + " WAS SUCCESSFULLY SUBMITTED");
                    location.reload();
                },
            });
        });
    });

    function dates() {
        var dayOfWeek = 5;//friday
        var date = new Date();
        var diff = date.getDay() - dayOfWeek;
        //alert(diff);
        if (diff > 0) {
            date.setDate(date.getDate() + 6);
        }
        else if (diff < 0) {
            date.setDate(date.getDate() + ((-1) * diff))
        }
        return date;

    }
    function pageRedirect() {
        var baseUrl = window.location.origin;
        window.location.href = baseUrl + '/Students/DailyList';
    }
    function myFunctionDate() {
        var weekend = $('#weekend').val();
        var monday_Date = $('#monday_Date').val();
        var stdId = $('#studentId').val();
        var weekDay = $('#weekDay').val();
        var studentId = parseInt(stdId);
        //alert(monday_Date);
        if (weekDay == "-1") {
            alert("PLEASE DAY OF THE WEEK");
            $('#monday_Date').val("");
            return false;
        }
        var dateDay = {
            "Id": studentId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/DailyActivities/' + studentId,
            data: JSON.stringify(dateDay),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                //console.log(data);
                var list = data

                for (var i = 0; i < list.length; i++) {
                    var DailyActivitiesId = list[i].id;
                    var listDate = list[i].weekNumber;
                    if (listDate == weekend) {
                        var dateDayList = {
                            "Id": DailyActivitiesId
                        };
                        $.ajax({
                            type: "GET",
                            url: baseUrl + '/Api/DailyActivitiesListsDate/' + DailyActivitiesId,
                            data: JSON.stringify(dateDayList),
                            xhrFields: {
                                withCredentials: true
                            },
                            contentType: 'json',
                            error: function (data) {
                                alert(data.responseText);
                            },
                            failure: function (data) {
                                alert(data.responseText);
                            },
                            success: function (data) {
                                //console.log(data);
                                var Daylist = data

                                for (var i = 0; i < Daylist.length; i++) {
                                    var DaylistId = Daylist[i].id;
                                    var DaylistDate = Daylist[i].dayDate;
                                    var newDate = DaylistDate.substring(0, 10);
                                    //alert(newDate);
                                    if (newDate == monday_Date) {
                                        alert("DAILY ACTIVITIES OF " + newDate + " OF WEEK ENDING " + weekend + " HAS ALREADY BEEN SENT FOR SUPERVISOR APPROVAL")
                                        $('#monday_Date').val("");
                                        return false;
                                    }
                                    //console.log(Daylist[i]);
                                }
                            }
                        });
                    }
                    //console.log(list[i]);
                }
            }
        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
