@page
@model BSSL_SIWES.Web.Pages.Students.StudentBioDataModel
@{
    ViewData["Title"] = "StudentBioData";
}
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header" id="pdata">
                <h3 class="card-title">Personal Data</h3>
            </div>
            <div class="card-header" style="display:none" id="BankDe">
                <h3 class="card-title">Bank Details</h3>
            </div>
            <div class="card-header" style="display:none" id="emId">
                <h3 class="card-title">Employer Details</h3>
            </div>
            <div class="card-header" style="display:none" id="istD">
                <h3 class="card-title">Institution Details</h3>
            </div>
            <div class="card-body" id="myList" style="margin-left:15%">
                <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">
                        <button class="nav-link btn btn-warning" id="personalDetails">Personal Data</button>
                    </li>
                    <li class="list-group-item">
                        <button class="nav-link btn btn-success" id="bankDetails">Bank Details</button>
                    </li>
                    <li class="list-group-item">
                        <button class="nav-link btn btn-primary" id="employerDetails">Employer Details</button>
                    </li>
                    <li class="list-group-item">
                        <button class="nav-link btn btn-danger" id="institutionDetails">Institution Details</button>
                    </li>
                </ul>

            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Note!</strong> All Disabled Fields Cannot Be Updated By Student.
                If There is any mistake, Please Contact Institution Coordinator!
            </div>
            <form role="form" method="post" id="personalD">
                <div class="card-body">
                    <div class="justify-content-center" style="float:right; display:none">
                        <button type="submit" asp-page-handler="DownloadFile" class="btn btn-warning">Download SCAF</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Registration/Matric. Number</label>
                                <input type="hidden" id="studentId" asp-for="StudentSetUp.Id">
                                <input type="text" id="matricNumber" asp-for="StudentSetUp.MatricNumber"
                                       readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Surname</label>
                                <input type="text" id="surname" class="form-control" readonly="readonly"
                                       asp-for="StudentSetUp.Surname">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Other Name(s)</label>
                                <input type="text" id="otherNames" readonly="readonly" class="form-control" asp-for="StudentSetUp.OtherNames">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Reg. Year/Year of Matric</label>
                                <input type="text" class="form-control" id="yearOfStudy" asp-for="StudentSetUp.MatricYear" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Course of Study</label>
                                <input type="text" class="form-control" id="courseStudy" readonly="readonly" asp-for="StudentSetUp.Courses.Name">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Level of Study</label>
                                <input type="text" class="form-control" id="leveStudy" asp-for="StudentSetUp.YearOfStudy" readonly="readonly">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" id="phoneNo" class="form-control"
                                       asp-for="StudentSetUp.PhoneNo" placeholder="Enter Phone No. ">

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="text" id="email" class="form-control" asp-for="StudentSetUp.Email" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Siwes Batch No </label>
                                <input type="text" id="batch" class="form-control" asp-for="StudentSetUp.BatchNo" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Nationality</label>
                                <input type="text" id="batch" class="form-control" asp-for="StudentSetUp.LGA.State.Nationality.Name" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>State of Origin</label>
                                <input type="text" id="stateId" class="form-control" asp-for="StudentSetUp.LGA.State.Name" readonly="readonly">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>LGA of Origin</label>
                                <input type="text" id="LgaId" class="form-control" asp-for="StudentSetUp.LGA.Name" readonly="readonly">

                            </div>
                        </div>
                    </div>

                    <div class="justify-content-center" style="margin-left:40%; margin-bottom:3%;">
                        <button type="submit" class="btn btn-primary" id="mySubmitForm">Update Records</button>
                    </div>
                </div>
            </form>
            <form role="form" style="display:none" id="bankDet">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputFile">Select Bank</label>
                                <select class="form-control regYear" style="width: 100%;" id="drpbank" asp-items="ViewBag.BankSetUp">
                                    <option selected="selected" value="-1">--Select Bank Name--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Enter Account Number</label>
                                <input type="text" class="form-control" id="accountnum" placeholder="Enter Account Number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Enter Account Name</label>
                                <input type="text" class="form-control" id="accountname" placeholder="Enter Account Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Enter Switch Code</label>
                                <input type="text" class="form-control" id="switchcode" placeholder="Enter Switch Code">
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-center" style="margin-left:40%; margin-bottom:3%;">
                        <button type="submit" class="btn btn-primary" id="myBankDetails">Update Bank Details</button>
                    </div>
                </div>
            </form>
            <form role="form" style="display:none" id="emplyD">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Employer Name</label>
                                <input type="text" asp-for="StudentSetUp.EmployerSuperSetup.Name"
                                       readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Employer Address</label>
                                <input type="text" id="surname" class="form-control" readonly="readonly"
                                       asp-for="StudentSetUp.EmployerSuperSetup.Address1">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Official Email</label>
                                <input type="text" id="otherNames" readonly="readonly" class="form-control" asp-for="StudentSetUp.EmployerSuperSetup.Email">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Officail Phone No.</label>
                                <input type="text" class="form-control" id="yearOfStudy" asp-for="StudentSetUp.EmployerSuperSetup.PhoneNo" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Area Office</label>
                                <input type="text" class="form-control" id="courseStudy" readonly="readonly" asp-for="StudentSetUp.EmployerSuperSetup.AreaOffice.Description">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Web Address</label>
                                <input type="text" class="form-control" id="leveStudy" asp-for="StudentSetUp.EmployerSuperSetup.WebAddress" readonly="readonly">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Employer Supervisor Name</label>
                                <input type="text" id="phoneNo" class="form-control"
                                       asp-for="Scaf.EmployerSupervisor.Name" readonly="readonly">

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Supervisor Email</label>
                                <input type="text" id="email" class="form-control" asp-for="Scaf.EmployerSupervisor.Email" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Supervisor Phone</label>
                                <input type="text" id="batch" class="form-control" asp-for="Scaf.EmployerSupervisor.Phone1" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form role="form" style="display:none" id="instId">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Institution Name</label>
                                <input type="text" id="matricNumber" asp-for="StudentSetUp.Institution.Name"
                                       readonly="readonly" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Institution Address</label>
                                <input type="text" id="surname" class="form-control" readonly="readonly"
                                       asp-for="StudentSetUp.Institution.Address1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Officail Phone No.</label>
                                <input type="text" class="form-control" id="yearOfStudy" asp-for="StudentSetUp.Institution.PhoneNo1" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Official Email</label>
                                <input type="text" id="otherNames" readonly="readonly" class="form-control" asp-for="StudentSetUp.Institution.Email">

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Web Address</label>
                                <input type="text" class="form-control" id="leveStudy" asp-for="StudentSetUp.Institution.Website" readonly="readonly">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Institution Supervisor Name</label>
                                <input type="text" id="phoneNo" class="form-control"
                                       asp-for="StudentSetUp.InstitutionOfficer.IntOfficerName" placeholder="Enter Phone No." readonly="readonly">

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Supervisor Email</label>
                                <input type="text" id="email" class="form-control" asp-for="StudentSetUp.InstitutionOfficer.Email" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Supervisor Phone</label>
                                <input type="text" id="batch" class="form-control" asp-for="StudentSetUp.InstitutionOfficer.PhoneNo" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#personalDetails').on('click', function () {
            document.getElementById('personalD').style.display = "block";
            document.getElementById('emplyD').style.display = "none";
            document.getElementById('instId').style.display = "none";
            document.getElementById('bankDet').style.display = "none";
            document.getElementById('pdata').style.display = "block";
            document.getElementById('emId').style.display = "none";
            document.getElementById('BankDe').style.display = "none";
            document.getElementById('istD').style.display = "none";
        });
        $('#bankDetails').on('click', function () {
            document.getElementById('personalD').style.display = "none";
            document.getElementById('emplyD').style.display = "none";
            document.getElementById('instId').style.display = "none";
            document.getElementById('bankDet').style.display = "block";
            document.getElementById('pdata').style.display = "none";
            document.getElementById('emId').style.display = "none";
            document.getElementById('BankDe').style.display = "block";
            document.getElementById('istD').style.display = "none";
        });
        $('#employerDetails').on('click', function () {
            document.getElementById('personalD').style.display = "none";
            document.getElementById('emplyD').style.display = "block"; 
            document.getElementById('instId').style.display = "none"; 
            document.getElementById('bankDet').style.display = "none";
            document.getElementById('pdata').style.display = "none";
            document.getElementById('emId').style.display = "block";
            document.getElementById('BankDe').style.display = "none";
            document.getElementById('istD').style.display = "none";
        });
        $('#institutionDetails').on('click', function () {
            document.getElementById('personalD').style.display = "none";
            document.getElementById('emplyD').style.display = "none"; 
            document.getElementById('instId').style.display = "block"; 
            document.getElementById('bankDet').style.display = "none";
            document.getElementById('pdata').style.display = "none";
            document.getElementById('emId').style.display = "none";
            document.getElementById('BankDe').style.display = "none";
            document.getElementById('istD').style.display = "block";
        });

        $('#mySubmitForm').on('click', function () {
            alert("UNDER CONSTRUCTION");
            return false;
            var studtId =  $('#studentId').val();
            var phoneNo = $('#phoneNo').val();
            var studentId = parseInt(studtId);
            //alert(studentId);
           
            if (phoneNo == "") {
                alert("PLEASE ENTER STUDENT PHONE NUMBER");
                return false;
            }
            var d = {
                "Id": studentId,
                "PhoneNo": phoneNo,
            };
            var confirmation = confirm("ARE YOU SURE YOU WANT TO UPDATE YOUR PHONE NUMBER?");
            if (confirmation === false) {
                return false;
            }
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/StudentPhoneNumber/ ' + studentId,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    //console.log(data);
                    alert(data.responseText);
                },
                failure: function (data) {
                    //console.log(data);
                    alert(data.responseText);
                },
                success: function (data) {
                    console.log(data);
                    alert("PHONE NUMBER SUCCESSFULLY UPDATED");
                    location.reload();
                },
            });
        });
        $('#myBankDetails').on('click', function () {
            alert("UNDER CONSTRUCTION");
            return false;

            var studtId = $('#studentId').val();
            var drpbank = $('#drpbank').val();
            var accountnum = $('#accountnum').val();
            var accountname = $('#accountname').val();
            var switchcode = $('#switchcode').val();
            var studentId = parseInt(studtId);
            //alert(studentId);

            if (drpbank == "-1") {
                alert("PLEASE SELECT BANK NAME");
                return false;
            }
            if (accountnum == "") {
                alert("PLEASE ENTER ACCOUNT NUMBER");
                return false;
            }
            if (accountname == "") {
                alert("PLEASE ENTER ACCOUNT NAME");
                return false;
            }
            var d = {
                "Id": studentId,
                "BankSetUpId": drpbank,
                "AccountNo": accountnum,
                "AccountName": accountname,
                "SwitchCode": switchcode
            };
            var confirmation = confirm("ARE YOU SURE YOU WANT TO UPDATE YOUR BANK DETAILS?");
            if (confirmation === false) {
                return false;
            }
            var baseUrl = window.location.origin;
            var url = baseUrl + '/Api/StudentBankDetails/ ' + studentId;
            $.ajax({
                type: "PUT",
                url: url,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    //alert("BANK DETAILS SUCCESSFULLY UPDATED");
                    location.reload();
                },
            });
        });
    });
    function MyFunctionNationality() {
        var nationId = document.getElementById('nationChange').value;
        var d = {
                "Id": nationId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/States/' + nationId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                //console.log(data);
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++){
                    option += '<option value="'+ data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myState').empty();
                    $('#myState').append('<option value=-1>--Select State--</option>');
                }
                $('#myState').append(option);

            },
        });

    }
    function MyFunctionState() {
        var stateId = document.getElementById('myState').value;
       // alert(stateId);
        var d = {
                "Id": stateId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/LGAs/' + stateId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
              //console.log(data);
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++){
                    option += '<option value="'+ data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myLGA').empty();
                    $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                }

                //$('#myLGA').append('<option value=-1>--Select LGA--</option>');
                $('#myLGA').append(option);

            },
        });

    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

