@page
@model BSSL_SIWES.Web.Pages.Students.StudentBioDataModel
@{
    ViewData["Title"] = "StudentBioData";
}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Student Bio Data</h3>
        </div>
        
        <form role="form" method="post">
            <div class="card-body">
                <div class="justify-content-center" style="float:right; display:none">
                    <button type="submit" asp-page-handler="DownloadFile" class="btn btn-warning">Download SCAF</button>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Registration/Matric. Number</label>
                            <input type="hidden" id="studentId" asp-for="StudentSetUp.Id">
                            <input type="text" id="matricNumber" asp-for="StudentSetUp.MatricNumber"
                                   readonly="readonly" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" id="surname" class="form-control" readonly="readonly"
                                   asp-for="StudentSetUp.Surname">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Other Name(s)</label>
                            <input type="text" id="otherNames" readonly="readonly" class="form-control" asp-for="StudentSetUp.OtherNames">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Reg. Year/Year of Matric</label>
                            <input type="text" class="form-control" id="yearOfStudy" asp-for="StudentSetUp.MatricYear" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Course of Study</label>
                            <input type="text" class="form-control" id="courseStudy" readonly="readonly" asp-for="StudentSetUp.Courses.Name">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Level of Study</label>
                            <input type="text" class="form-control" id="leveStudy" asp-for="StudentSetUp.YearOfStudy" readonly="readonly">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" id="phoneNo" class="form-control"
                                   asp-for="StudentSetUp.PhoneNo" placeholder="Enter Phone No. ">

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="text" id="email" class="form-control" asp-for="StudentSetUp.Email" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Siwes Batch No </label>
                            <input type="text" id="batch" class="form-control" asp-for="StudentSetUp.BatchNo" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Select Nationality</label>
                            <select class="form-control"
                                    asp-items="ViewBag.NationalityId" style="width: 100%; text-transform:uppercase"
                                    onchange="MyFunctionNationality()" id="nationChange">
                                <option selected="selected" value="-1">-- Select Nationality--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Select State of Origin</label>
                            <select class="form-control"
                                    id="myState" style="width: 100%;" onchange="MyFunctionState()">
                                <option selected="selected" value="-1">-- Select State--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Select LGA of Origin</label>
                            <select class="form-control myLGAS" asp-for="StudentSetUp.LGA.Name"
                                    id="myLGA" style="width: 100%;">
                                <option selected="selected" value="-1">--Select LGA--</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label input-label" for="startTime">Select Bank Name</label>
                            <div class="select2-purple">
                                <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple" style="width: 100%;">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label input-label" for="startTime">Account Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="text" id="acctNo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label input-label" for="startTime">Account Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="text" id="acctName" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="justify-content-center" style="margin-left:40%; margin-bottom:3%;">
                <button type="submit" class="btn btn-primary" id="mySubmitForm">Update Records</button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#courseStudy" ).autocomplete({
            source: availableTags,
            select: function (event, ui) {
                $('#courseStudy').val(ui.item.label);
                $('#courseStudyId').val(ui.item.value);
                return false;
            }
        });
        $("#matricNumber").autocomplete({
            source: studentList,
            select: function (event, ui) {
                $('#matricNumber').val(ui.item.label);
                $('#studentId').val(ui.item.value);
                return false;
            }
        });
        $('#myUpdateForm').on('click', function () {
            var studtId =  $('#studentId').val();
            var matricNumber = $('#matricNumber').val();
            var surname = $('#surname').val();
            var otherNames  = $('#otherNames').val();
            var matricYear = $('#matricYear').val();
            var courseStudy  = $('#courseStudy').val();
            var courseStudyId =  $('#courseStudyId').val();
            var yearOfStudy = $('#yearOfStudy').val();
            var phoneNo = $('#phoneNo').val();
            var email = $('#email').val();
            var nationaId = $('#nationChange').val();
            var myState = $('#myState').val();
            var myLGA =  $('#myLGA').val();
            var batchNo = $('#batchNo').val();
            var regYear = $('.regYear').val();
            var studentType = $('#studentType').val();
            var superId = $('#superId').val();
            var superName = $('#superName').val();
            var studentId = parseInt(studtId);
            var InstitutionOfficerId = parseInt(superId);
            var courseId = parseInt(courseStudyId);
            var nationalityId = parseInt(nationaId);
            //alert(studentId);
            if (studentId == "") {
                alert("STUDENT DOES NOT HAVE RECORDS TO UPDATE");
                return false;
            }
            if (surname == "") {
                alert("PLEASE ENTER STUDENT SURNAME");
                return false;
            }
            if (otherNames == "") {
                alert("PLEASE ENTER STUDENT OTHER NAMES");
                return false;
            }
            if (matricYear == "") {
                alert("PLEASE SELECT STUDENT MATRIC. YEAR");
                return false;
            }
            if (courseId == "") {
                alert("PLEASE SELECT A COURSE OF STUDY");
                return false;
            }
            if (yearOfStudy == "") {
                alert("PLEASE YEAR OF STUDY");
                return false;
            }
            if (phoneNo == "") {
                alert("PLEASE ENTER STUDENT PHONE NUMBER");
                return false;
            }
            if (email == "") {
                alert("PLEASE ENTER STUDENT EMAIL ADDRESS");
                return false;
            }

            if (batchNo == "") {
                alert("PLEASE SELECT SIWES BATCH NUMBER");
                return false;
            }
            if (regYear == "") {
                alert("PLEASE SELECT STUDENT YEAR OF REGISTRATION");
                return false;
            }
            if (studentType == "") {
                alert("PLEASE SELECT STUDENT TYPE");
                return false;
            }
            if (InstitutionOfficerId == "") {
                alert("PLEASE SELECT INSTITUTION OFFICER");
                return false;
            }
            if (nationalityId == "") {
                alert("PLEASE STUDENT NATIONALITY");
                return false;
            }
            if (matricNumber == "") {
                alert("PLEASE ENTER STUDENT MATRIC. NUMBER");
                return false;
            }
            //if (myLGA == "") {
            //    alert("PLEASE SELECT STUDENT LOCAL GOVERNMENT OF ORIGIN");
            //    return false;
            //}
            var d = {
                "Id": studentId,
                "Surname": surname,
                "OtherNames": otherNames,
                "MatricYear": matricYear,
                "CoursesId": courseId,
                "YearOfStudy": yearOfStudy,
                "PhoneNo": phoneNo,
                "Email": email,
                "BatchNo": batchNo,
                "StudentType": studentType,

                "SiwesYear": regYear,
                "InstitutionOfficerId": InstitutionOfficerId,
                "NationalityId": nationalityId,
                "MatricNumber": matricNumber,
                //"StudentType": myLGA
            };
            var confirmation = confirm("ARE YOU SURE YOU WANT TO THIS STUDENT RECORD?");
            if (confirmation === false) {
                return false;
            }
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/StudentSepUpMatric/' + studentId,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    alert("STUDENT RECORD SUCCESSFULLY UPDATED");
                    location.reload();
                }
            });
        });
    });
    function MyFunctionNationality() {
        var nationId = document.getElementById('nationChange').value;
        var d = {
                "Id": nationId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/States/' + nationId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
                //console.log(data);
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++){
                    option += '<option value="'+ data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myState').empty();
                    $('#myState').append('<option value=-1>--Select State--</option>');
                }
                $('#myState').append(option);

            },
        });

    }
    function MyFunctionState() {
        var stateId = document.getElementById('myState').value;
       // alert(stateId);
        var d = {
                "Id": stateId
        };
        var baseUrl = window.location.origin;
        $.ajax({
            type: "GET",
            url: baseUrl + '/Api/LGAs/' + stateId,
            data: JSON.stringify(d),
            xhrFields: {
                withCredentials: true
            },
            contentType: 'json',
            error: function (data) {
                alert(data.responseText);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            success: function (data) {
               // console.log(data);
                $('#myLGA').empty();
                $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                var option = '';
                for (var i = 0; i < data.length; i++){
                    option += '<option value="'+ data[i]['id'] + '">' + data[i]['name'] + '</option>';
                }
                //alert(option);
                if (option == "") {
                    $('#myLGA').empty();
                    $('#myLGA').append('<option value=-1>--Select LGA--</option>');
                }

                //$('#myLGA').append('<option value=-1>--Select LGA--</option>');
                $('#myLGA').append(option);

            },
        });

    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

