@page
@inject SIWES_BSSL.Data.ApplicationDbContext db
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@model SIWES_BSSL.Pages.Setup.EmployerSetupModel
@{
    ViewData["Title"] = "EmployerSetup";
}
    <div class="content-wrapper" style="margin-top:0.5%">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4 class="card-title">Employer Setup</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>