@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_RegLayout";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="col-md-8" style="margin:0 auto; display:table">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Forgot Password</h3>
        </div>
        <form method="post">
            <div>
                @if (!string.IsNullOrWhiteSpace(Model.successm))
                {
                    <div class="alert alert-dismissible alert-success">
                        @Model.successm
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(Model.errorm))
                {
                    <div class="alert alert-dismissible alert-danger">
                        @Model.errorm
                    </div>
                }
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Enter your registered email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
